@import '../../common/_fonts.scss';
@import '../../common/_variables.scss';
@import '../../common/_mixins.scss';


//Main banner styles------------------------------

.banner__main {
    height: 815px;
    width: 100%;
    @include background;
    z-index: 1;
}

.main_shadow {
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0, 0.1);

    @include flexbox(column, nowrap, space-between, flex-start);
}
.banner__main_heading {
    width: 1110px;
    margin: 200px auto;
    min-height: 200px;
}
.heading_small {
    font-family: 'Sofia Pro';
    font-size: 14px;
    font-weight: 500;
    color: #fafafa;
    margin-bottom: 30px;
}
.heading_big {
    width: 655px;
    font-family: 'Didot';
    font-size: 80px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.19;
    letter-spacing: normal;
    color: #ffffff;
}
.banner__main_pannel {
    height: 120px;
    width: 100%;
    width: 100%;
    @include flexbox(row, nowrap, center, flex-end);
}
.container_main {
    width: 1110px;
    margin: 0 auto;
    @include flexbox(row, nowrap, space-between, flex-start);
}

.bottom_margin_main {
    margin-bottom: 100px;
}
.blanc {
    height: inherit;
    width: 100%;
    background-color: #fff;
}

.check {
    @include flexbox(row, nowrap, center, center);
    height: 120px;
    width: 1110px;
}

.check_item {
    @include flexbox(row, nowrap, space-between, center);
    width: 251px;
    height: inherit;
    background-color: #fff;
}

.check-out {
    font-family: 'Sofia Pro';
    font-size: 14px;
    font-weight: 500;
    color: $subTextColor;
    margin-bottom: 15px;
}

.text-link {
    font-family: 'Sofia Pro Medium';
    font-size: 16px;
    font-weight: bold;
    color: #000000;
    padding-bottom: 5px;
    border-bottom: 1px solid transparent;
}

.text-link:hover {
    color: $mainColor;
    border-bottom: 1px solid $mainColor;
}

.line {
    height: 70px;
    width: 1px;
    transform: rotate(20deg);
    background-color: #d8d8d8;
}

.space-link {
    margin-left: 54px;
}

.find {
    @include flexbox(column, nowrap, center, flex-start);
    width: 357px;
    height: inherit;
    background-color: $mainColor;
    border-top-right-radius: 20px;
    color: #ffffff;
    fill: #fff;
    padding: 20px;
}

.find_big_text {
    font-family: 'Sofia Pro';
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;
}
.find_text {
    font-family: 'Sofia Pro';
    font-size: 13px;
    margin-bottom: 10px;
}

.scroll {
    height: inherit;
    width: 100%;
    @include flexbox(column, nowrap, center, center);
}

.scroll_text {
    width: 36px;
    height: 13px;
    transform: rotate(-90deg);
    font-family: 'Sofia Pro';
    font-size: 14px;
    color: #ffffff;
}

.scroll_line {
    width: 1px;
    height: 40px;
    background-color: #ffffff;
    margin-bottom: 45px;
    margin-top: 25px;
}

.item_location {
    font-family: 'Sofia Pro';
    font-size: 13px;
    color: #9b9b9b;
    position: relative;
}

.location_icon {
    fill: #9b9b9b;
    position: absolute;
    left: -20px;
    top: -3px;
}
.rate_block {
    @include flexbox(row, nowrap, center, flex-start);
    width: 100%;
}

.item_rate {
    font-family: 'Sofia Pro Bold';
    font-size: 13px;
    font-weight: 600;
    color: #30797c;
    position: relative;
    margin-left: 20px;
    text-align: center;
}

.star_icon {
    fill: #30797c;
    position: absolute;
    left: -20px;
    top: -1px;
}

.star_count {
    font-family: 'Sofia Pro';
    font-size: 13px;
    color: #9b9b9b; 
}

.opening_block {
    font-family: 'Sofia Pro';
    font-size: 13px;
    font-weight: 500;
    color: $textColor;
}

.bold_text {
    font-family: 'Sofia Pro Medium';
}

//Main block styles-------------------------------

.location_main {
    width: 544px;
    min-height: 400px;    
}

.navigation {
    @include flexbox(row, nowrap, flex-start, flex-start); 
    margin-top: 40px;
    margin-bottom: 40px;
}

.nav_tab {
    border-bottom: 2px solid #9b9b9b;
    height: 25px;
    padding: 0 10px;
    font-family: 'Sofia Pro';
    font-size: 14px;
    color: #9b9b9b;
    position: relative;
}

.tick_icon {
    position: absolute;
    top: -10px;
    left: 50%;
    transform: translate(-50%, -50%);
    fill: #187c1d;
    display: none;
}
.nav_tab_done {
    font-family: 'Sofia Pro Medium';
    border-bottom: 2px solid #187c1d; 
    color: #187c1d; 
    .tick_icon {
      display: block;
    }
}

.nav_tab_active {
    color: $linkColor;
    font-family: 'Sofia Pro Medium';
    border-bottom: 2px solid $linkColor;
}

.nav_line {
    width: 1px;
    height: 25px;
    background-color: #d8d8d8;
    margin: 0 10px;
}

.main_heading {
    font-family: 'Didot';
    font-size: 24px;
    font-weight: bold;
    line-height: 2.29;
    color: #000000;
    margin-bottom: 20px;
}

.main_text {
    font-family: 'Sofia Pro';
    font-size: 13px;
    line-height: 1.54;
    color: $textColor;
    margin-bottom: 20px;
}

#slider {
    position: relative;
}

.slider_buttons {
    position: absolute;
    left: 0;
    bottom: 4px;
    width: 123px;
    height: 60px;
    background-color: #ffffff;
    @include flexbox(row, nowrap, space-between, center);
}

.button_line {
    width: 1px;
    height: 40px;
    transform: rotate(20deg);
    background-color: #d8d8d8;
}

.button {
    height: inherit;
    width: inherit;
    fill: #4a4a4a;
    @include flexbox(row, nowrap, center, center);
    cursor: pointer;
}

.button:hover {
    fill: $mainColor;
}

.location_photos {
    margin-bottom: 40px;
}

.subheading {
    font-family: 'Sofia Pro Medium';
    font-size: 20px;
    line-height: 2.5;
    letter-spacing: normal;
    color: $textColor;
}

.next_button {
    width: 168px;
    height: 50px;
    border-radius: 3px;
    background-color: $mainColor;
    border: none;
    color: #fff;
    margin-top: 20px;
}

.card_details {
    @include flexbox(row, nowrap, space-between, flex-start);
    width: 100%;
}

.pay_later {
    color: $mainColor;
    background-color: #fff;
    margin-left: 20px;
    border: 1px solid $mainColor;
}
.details_small {
    width: 30%;
}




//Pannel styles-------------------------------------
.location_pannel {
    width: 356px;
    min-height: 200px;
}

.reservation_block {
    width: 356px;
    min-height: 290px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    background-color: #f8f8f8;
    padding: 20px;
}

.date_block {
    @include flexbox(row, nowrap, space-between, flex-start);
}

.date {
    width: 48%;
}

.reserv_input {
    font-family: 'Sofia Pro';
    font-size: 14px;
    margin-top: 10px;
    width: 100%;
    height: 40px;
    border: solid 1px #e4e4e4;
    padding: 13px;
    line-height: 1.43;
    color: $textColor;
    outline-color: rgba(255, 82, 0, 0.5);
}

.card_input {
    font-family: 'Sofia Pro';
}

.input_label {
    font-family: 'Sofia Pro Medium';
    font-size: 13px;
    color: #000000;
}

.input_label_thin {
    font-family: 'Sofia Pro Medium';
    font-size: 14px;
    color: #3b3b3b;
    margin-top: 20px;
}

hr {
    border: 1px dashed #e4e4e4;
    margin-bottom: 20px;
}

.submit_button {
    width: 100%;
    height: 50px;
    border-radius: 3px;
    background-color: $mainColor;
    color: #fff;
    border: none;
    font-family: 'Sofia Pro';
    font-size: 14px;
    margin-bottom: 30px;
    cursor: pointer;
    margin-top: 20px;
}

.pannel_details {
    border: solid 1px #e4e4e4;
    margin-bottom: 20px;
}

.details_header, .details_body {
    padding: 20px;
}

.details_bold_text {
    font-family: 'Sofia Pro Medium';
    font-size: 13px;
    color: #000000;
}

.details_header {
    background-color: #f8f8f8;
}

.space_between {
    @include flexbox(row, nowrap, space-between, flex-start);
    margin-bottom: 15px;
}

.text_thin {
    font-family: 'Sofia Pro';
    font-size: 13px;
    color: #000000;
}

.details_link {
    font-family: 'Sofia Pro';
    font-size: 13px;
    color: $linkColor;
    text-decoration: underline;
    background-color: transparent;
    border: none;

}
.details_link:hover {
    color: $mainColor;
    cursor: default;
}
.footer_margin {
    margin-bottom: 0;
}
.green_text {
    font-family: 'Sofia Pro Medium';
    font-size: 13px;
    color: #187c1d;
    margin-bottom: 15px;
}

.modal_text {
    font-family: 'Sofia Pro';
    font-size: 14px;
    font-weight: 500;
    color: $subTextColor;
    text-align: center;
    span {
        color: $linkColor;
        cursor: pointer;
    }
}

button[disabled] {
    background-color: #f17941;
}

.invalidText {
    font-family: 'Sofia Pro';
    font-size: 12px;
    color: red;
    margin-top: 5px;
}

.login_link {
    color: $linkColor;
        cursor: pointer;
}




@media only screen and (max-width: 1200px) {
    //Main banner styles---------------------------------

    .banner__main_heading {
        width: 735px;
    }

    .container_main {
        width: 735px;
        display: block;
    }

    .check {
        width: 735px;
        @include flexbox(row, nowrap, center, center);
    }
    
    .check_item {
        width: 160px;
        padding-left: 0px;
        padding-right: 25px;
    }
    .check_first {
        padding-left: 0px;
    }
    .check_second {
        padding-left: 10px;
        padding-right: 35px;
    }

    .space-link {
        margin-left: 0px;
    }

    .find {
        width: 200px;
    }

    .reservation_block {
        margin-bottom: 50px;
    }

    .details_pannel {
        margin-bottom: 50px;
    }
    .next_button {
        margin-bottom: 20px;
    }


    
}


@media only screen and (max-width: 768px) {
    //Main banner styles---------------------------------

    .banner__main_heading {
        width: 450px;
        margin: 150px auto;
        min-height: 150px;
    }

    .heading_small {
        margin-bottom: 20px;
    }

    .heading_big {
        font-size: 60px;
        width: 450px;
    }

    .banner__main_pannel {
        height: 100px;
        width: 100%;
        @include flexbox(row, nowrap, flex-start, flex-end);
    }

    .container_main {
        width: 450px;
        margin: 0 auto;
        display: block;
    }

    .blanc {
        display: none;
    }

    .check {
        @include flexbox(row, nowrap, center, center);
        height: inherit;
        width: 450px;
        width: 100%;
    }

    .check_item {
        @include flexbox(row, nowrap, space-between, center);
        width: 25%;
        height: inherit;
        background-color: #fff;
        text-align: center;
        cursor: default;
            div {
                text-align: center;
            }
        padding: 5px;
        padding-top: 10px;
    }

    .check-out {
        font-weight: 500;
        margin-bottom: 0px;
    }

    .text-link { 
        padding: 0;
    }

    .line {
      display: none;
    }

    .space-link {
        margin-left: 0px;
    }

    .find {
        width: 25%;
        padding: 10px;
        border-radius: 0;
    }
    .find_big_text {
        margin-bottom: 5px;
    }
    .find_text {
        margin-bottom: 5px;
    }

    .scroll {
        display: none;
    }
    .scroll_text {
        display: none;
    }
    
    .scroll_line {
        display: none;
    }
    //Main block styles-------------------------------

    .location_main {
        width: 450px;
        
    }

    .nav_tab {
        height: 50px;
        padding: 0 10px;
        text-align: center;
    }

    .nav_line {
        min-height: 40px;
    }
 
    .subheading {
        font-size: 18px;
    }

    .next_button {
        width: 168px;
        height: 50px;
        margin-bottom: 20px;
    }

    .card_details {
        @include flexbox(row, nowrap, space-between, flex-start);
        width: inherit;
    }

    .pay_later {
        color: $mainColor;
        background-color: #fff;
        margin-left: 20px;
        border: 1px solid $mainColor;
    }

    .details_small {
        width: 30%;
    }

    //Pannel styles-------------------------------------
    .location_pannel {
        width: 356px;
    }

    .reservation_block {
        width: 356px;
        margin-bottom: 50px;
    }

    .details_pannel {
        margin-bottom: 50px;
    }

    .reserv_input {
        font-size: 12px;
    }
    


}

@media only screen and (max-width: 480px) {
    //Main banner styles---------------------------------

    .banner__main {
        height: 615px;
    }

    .banner__main_heading {
        width: 320px;
        margin: 150px auto;
        min-height: 150px;
    }

    .heading_small {
        margin-bottom: 20px;
    }

    .heading_big {
        font-size: 50px;
        width: 320px;
    }

    .banner__main_pannel {
        height: 100px;
        width: 100%;
        @include flexbox(row, nowrap, flex-start, flex-end);
    }

    .container_main {
        width: 320px;
        margin: 0 auto;
        display: block;
    }

    .blanc {
        display: none;
    }

    .check {
        @include flexbox(row, nowrap, center, center);
        height: inherit;
        width: 320px;
        width: 100%;
    }

    .check_item {
        @include flexbox(row, nowrap, space-between, center);
        width: 25%;
        height: inherit;
        background-color: #fff;
        text-align: center;
        cursor: default;
            div {
                text-align: center;
            }
        padding: 5px;
        padding-top: 10px;
    }

    .check-out {
        font-size: 12px;
        font-weight: 500;
        margin-bottom: 0px;
    }

    .text-link {
        font-size: 13px;    
        padding: 0;
    }

    .line {
      display: none;
    }

    .space-link {
        margin-left: 0px;
    }

    .find {
        width: 25%;
        font-size: 13px;
        padding: 10px;
        border-radius: 0;
    }
    .find_big_text {
        font-size: 14px;
        margin-bottom: 5px;
    }
    .find_text {
        font-size: 13px;
        margin-bottom: 5px;
    }

    .scroll {
        display: none;
    }
    .scroll_text {
        display: none;
    }
    
    .scroll_line {
        display: none;
    }
    //Main block styles-------------------------------

    .location_main {
        width: 320px;
        
    }

    .nav_tab {
        height: 50px;
        padding: 0 10px;
        text-align: center;
    }

    .nav_line {
        min-height: 40px;
    }

    .main_heading {
        font-size: 20px;
    }

    .slider_buttons {
        width: 80px;
        height: 40px;
    }
 
    .subheading {
        font-size: 18px;
    }

    .next_button {
        width: 168px;
        height: 50px;
        margin-bottom: 20px;
    }

    .card_details {
        @include flexbox(row, nowrap, space-between, flex-start);
        width: inherit;
    }

    .pay_later {
        color: $mainColor;
        background-color: #fff;
        margin-left: 20px;
        border: 1px solid $mainColor;
    }

    .details_small {
        width: 30%;
    }

    //Pannel styles-------------------------------------
    .location_pannel {
        width: 320px;
    }

    .reservation_block {
        width: 320px;
        margin-bottom: 50px;
    }

    .details_pannel {
        margin-bottom: 50px;
    }

    .reserv_input {
        font-size: 12px;
    }
    


}