<footer>
    <div class="footer_info">
        <div class="footer_container">
            <div class="info">
                <div class="help">
                    <p class="heading">Need Travelsy Help?</p>
                    <p class="text">Got Questions? Call us 24/7!</p>
                    <p class="text">Call Us: +254 716909 815</p>
                    <p class="text">Email Us: <span>info@travelsy.com</span></p>
                </div>
                <div class="contact">
                    <p class="heading">Contact Info:</p>
                    <p class="text">2nd Floor, Fedha Plaza,  </p>
                    <p class="text">Westlands,</p>
                    <p class="text">Nairobi, Kenya.</p>
                    <p class="text">P.O Box 7231-00300</p>
                    <p class="text">Nairobi, Kenya.</p>
                </div>
                <div class="icons-links">
                    <div class="icons">
                        <svg-icon class="icon" src="../../assets/icons/facebook.svg" [svgStyle]="{ 'height.px':10}"></svg-icon>
                    </div>
                    <div class="icons">
                        <svg-icon class="icon" src="../../assets/icons/twitter.svg" [svgStyle]="{ 'height.px':10}"></svg-icon>
                    </div>
                    <div class="icons">
                        <svg-icon class="icon" src="../../assets/icons/instagram.svg" [svgStyle]="{ 'height.px':10}"></svg-icon>
                    </div>
                    <div class="icons">
                        <svg-icon class="icon" src="../../assets/icons/youtube.svg" [svgStyle]="{ 'height.px':10}"></svg-icon>
                    </div>
                </div>
            </div>
            <div class="company">
                <p class="heading">Company</p>
                <p class="text">About Us</p>
                <p class="text">Careers</p>
                <p class="text">Terms Of Use</p>
                <p class="text">Privacy Statement</p>
                <p class="text">Give Us Feedback</p>
                <p class="text">Partner With Us</p>
            </div>
            <div class="other">
                <p class="heading">Other Services & Support</p>
                <p class="text">Rewards Program</p>
                <p class="text">Partners</p>
                <p class="text">Legal</p>
                <p class="text">Privacy Policy</p>
                <p class="text">Customer Service Help</p>
            </div>
            <div class="links">
                <p class="heading">Quick Links</p>
                <p class="text">Your Account</p>
                <p class="text">Camping Locations</p>
                <p class="text">Activities</p>
                <p class="text">Hire Equipment</p>
                <p class="text">Blogs</p>
            </div>
            <div class="mailing">
                <p class="heading">Mailing List</p>
                <p class="text">Sign Up for our mailing lists and get the latest </p>
                <p class="text">offers and promotions straight in your inbox.</p>
                <input type="text" placeholder="Your Email"><button type="button">Subscribe</button>
            </div>
        </div>
    </div>
    <div class="footer_partners">
        <div class="footer_container">
            <div class="logo">Travelsy</div>
            <div class="partners">
                <img src="../../../assets/images/mopesa.png" alt="mopesa" class="mopesa">
                <img src="../../../assets/images/discover.png" alt="discover" class="discover">
                <img src="../../../assets/images/visa.png" alt="visa" class="visa">
                <img src="../../../assets/images/paypal.png" alt="paypal" class="paypal">
                <img src="../../../assets/images/mastercard.png" alt="mastercard" class="mastercard">
            </div>
        </div>
    </div>
    <div class="footer_copyright">
        <div class="footer_container">
            <div>Copyright © 2019 Travelsy Ltd. All rights reserved</div>
            <div>Made in Kenya by Ralak</div>
        </div>
    </div>
</footer>