@import '../../common/_fonts.scss';
@import '../../common/_variables.scss';
@import '../../common/_mixins.scss';

.footer_copyright, .footer_partners, .footer_info {
   border-top: 1px solid #e4e4e4; 
}

.footer_info {
    min-height: 560px;
}

.footer_copyright {
    height: 115px;
    font-family: 'Sofia Pro';
    font-size: 12px;
}

.footer_container {
    height: inherit;
    width: 1110px;
    margin: 0 auto;
    @include flexbox(row, nowrap, space-between, center);
}

.footer_partners {
    height: 105px;
}

.logo {
    font-family: 'Samsung Sharp Sans Bold';
    font-size: 24px;
    color: $logoColor;
}

.partners img {
    margin-left: 30px;
}

.mopesa {
    width: 50px;
    height: 25px;
}

.discover {
    width: 76px;
    height: 16px;
}

.visa {
    width: 42px;
    height: 13px;
}

.paypal {
    width: 70px;
    height: 20px;
}

.mastercard {
    width: 34px;
    height: 27px;
}

.footer_info .footer_container {
    @include flexbox(row, nowrap, space-between, flex-start);
    margin-top: 105px;
}

.heading {
    font-family: 'Sofia Pro Bold';
    font-size: 13px;
    font-weight: 700;
    color: #000000;
    margin-bottom: 20px;
}

.text_class {
    font-family: 'Sofia Pro';
    font-size: 13px;
    color: $textColor;
    margin-bottom: 15px;
}

.text_class span {
    color: $linkColor;
}

.contact {
    margin-top: 50px;
}

.mailing input {
    width: 261px;
    height: 40px;
    border: solid 1px #e4e4e4;
    background-color: #ffffff;
    padding: 15px;
}

.mailing button {
    width: 94px;
    height: 40px;
    border: none;
    background-color: $mainColor;
    font-size: 13px;
    color: #fff;
}

.icons-links {
    @include flexbox(row, nowrap, flex-start, center);
}

.icons { 
    @include flexbox(row, nowrap, center, center);
    margin-right: 10px;
    width: 20px;
    height: 20px;
    border: solid 1px #979797;
    border-radius: 50%;
    fill: $textColor;
    transition: all ease-out 0.3s;
    cursor: pointer;
}

.icons:hover {
    fill: #fff;
    background-color: #4a4a4a;
    border: solid 1px #4a4a4a;
}

.icon {
    margin-top: -3px;
}

.email_text {
    font-family: 'Sofia Pro';
    font-size: 13px;
    color: $textColor;
    outline: none;
}

@media only screen and (max-width: 1200px) {
    .footer_container {
        width: 735px;
    }

    .mailing {
        display: none;
    }
}



@media only screen and (max-width: 768px) {
    .footer_copyright {
        height: 50px;
        font-size: 10px;
    }
    .footer_container {
        width: 320px;
        @include flexbox(row, nowrap, space-between, center);
    }
    .footer_partners {
        height: 50px;
    }
    .logo {
        font-size: 18px;
    }
    .partners img {
        margin-left: 5px;
       height: auto;
        width: 35px;

    }
    .company, .other, .links, .mailing {
        display: none;
    }
    .info {
        @include flexbox(row, nowrap, space-between, flex-start);
        margin-bottom: 50px;
    }
    
    .footer_info {
        min-height: 200px;
    }
    .footer_info .footer_container {
        @include flexbox(row, nowrap, space-between, flex-start);
        margin-top: 50px;
    }
    
    .contact {
        margin-top: 0px;
    }

    .icons-links {
        @include flexbox(column, nowrap, flex-start, center);
    }
    
    .icons { 
        @include flexbox(row, nowrap, center, center);
        margin-bottom: 10px;
        margin-right: 0;
    }
    .text_class {
        margin-bottom: 5px;
    }

}

