<footer>
    <div class="footer_info">
        <div class="footer_container main_information">
            <div class="info">
                <div class="help">
                    <p class="heading">Need Travelsy Help?</p>
                    <p class="text_class">Got Questions? Call us 24/7!</p>
                    <p class="text_class">Call Us: +254 716909 815</p>
                    <p class="text_class">Email Us: <span>info@travelsy.com</span></p>
                </div>
                <div class="contact">
                    <p class="heading">Contact Info:</p>
                    <p class="text_class">2nd Floor, Fedha Plaza, </p>
                    <p class="text_class">Westlands,</p>
                    <p class="text_class">Nairobi, Kenya.</p>
                    <p class="text_class">P.O Box 7231-00300</p>
                    <p class="text_class">Nairobi, Kenya.</p>
                </div>
                <div class="icons-links">
                    <div class="icons">
                        <svg-icon class="icon" src="../../assets/icons/facebook.svg" [svgStyle]="{ 'height.px':10, 'width.px':10}">
                        </svg-icon>
                    </div>
                    <div class="icons">
                        <svg-icon class="icon" src="../../assets/icons/twitter.svg" [svgStyle]="{ 'height.px':10, 'width.px':10}">
                        </svg-icon>
                    </div>
                    <div class="icons">
                        <svg-icon class="icon" src="../../assets/icons/instagram.svg" [svgStyle]="{ 'height.px':10, 'width.px':10}">
                        </svg-icon>
                    </div>
                    <div class="icons">
                        <svg-icon class="icon" src="../../assets/icons/youtube.svg" [svgStyle]="{ 'height.px':10, 'width.px':10}">
                        </svg-icon>
                    </div>
                </div>
            </div>
            <div class="company">
                <p class="heading">Company</p>
                <p class="text_class">About Us</p>
                <p class="text_class">Careers</p>
                <p class="text_class">Terms Of Use</p>
                <p class="text_class">Privacy Statement</p>
                <p class="text_class">Give Us Feedback</p>
                <p class="text_class">Partner With Us</p>
            </div>
            <div class="other">
                <p class="heading">Other Services & Support</p>
                <p class="text_class">Rewards Program</p>
                <p class="text_class">Partners</p>
                <p class="text_class">Legal</p>
                <p class="text_class">Privacy Policy</p>
                <p class="text_class">Customer Service Help</p>
            </div>
            <div class="links">
                <p class="heading">Quick Links</p>
                <p class="text_class">Your Account</p>
                <p class="text_class">Camping Locations</p>
                <p class="text_class">Activities</p>
                <p class="text_class">Hire Equipment</p>
                <p class="text_class">Blogs</p>
            </div>
            <div class="mailing">
                <p class="heading">Mailing List</p>
                <p class="text_class">Sign Up for our mailing lists and get the latest </p>
                <p class="text_class">offers and promotions straight in your inbox.</p>
                <form class="form-inline">
                    <div class="form-group">
                        <input class="email_text" [(ngModel)]="subsEmail" name="subsEmail" type="text" placeholder="Your Email">
                    </div>
                    <div class="form-group">
                        <button type="button" (click)="subscribe()">Subscribe</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="footer_partners">
        <div class="footer_container">
            <div class="logo">Travelsy</div>
            <div class="partners">
                <img src="../../../assets/images/mopesa.png" alt="mopesa" class="mopesa">
                <img src="../../../assets/images/discover.png" alt="discover" class="discover">
                <img src="../../../assets/images/visa.png" alt="visa" class="visa">
                <img src="../../../assets/images/paypal.png" alt="paypal" class="paypal">
                <img src="../../../assets/images/mastercard.png" alt="mastercard" class="mastercard">
            </div>
        </div>
    </div>
    <div class="footer_copyright">
        <div class="footer_container">
            <div>Copyright © 2020 Travelsy Ltd. All rights reserved</div>
            <div>Made in Ukraine</div>
        </div>
    </div>
</footer>