@mixin flexbox($d,$w, $jc, $ai) {
    display: flex;
    flex-flow: $d $w;
    justify-content: $jc;
    align-items: $ai;
}
@mixin background {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}