<section>
        <div class="banner__main"  [lazyLoad]="article?.mainImage">
        <div class="main_shadow">
            <div class="banner__main_heading">
                <p class="heading_small">{{article?.date.toDate() | date:'dd MMM yyyy'}}</p>
                <p class="heading_big">{{article?.title}}</p>
            </div>
        </div>
    </div>
</section>
<article class="article_container" [innerHTML]="article?.article">   
</article>
<div class="article_container" *ngIf="article?.comments?.length > 0">
    <hr>
    <p class="article_text_bold">Comments</p>
    <div class="article_comments" *ngFor="let comm of article?.comments">
        
        <div class="single_comment">
            <div class="comment_data">
                <div class="user_image" [style.backgroundImage]="'url('+comm?.user.image+')'"></div>
                <div class="user_name"><span class="article_text_bold">{{comm?.user.userFirstName}} {{comm?.user.userLastName}} | <span class="comment_date">{{comm?.date.toDate() | date:'dd MMM yyyy'}}</span></span> </div>
            </div>
            <div class="comment_body">
                <p class="article_text">{{comm?.text}}</p>
                <hr>
            </div>
        </div>
    </div>
</div>
<div class="comment_container">
    <div class="leave_comment_container">
        <p class="article_text_bold">LEAVE A COMMENT</p>
        <p *ngIf="!loggedUser" class="article_text">You need to <span class="login_link" routerLink="/login" >sign in</span> to add a comment or create an account if you don’t have one already.
        </p>
        <form *ngIf="loggedUser">
            <p class="article_text_bold">Comment:</p>
            <textarea [(ngModel)]="singleComment" name="singleComment" class="comment_area" placeholder="Type your comment here"></textarea>
            <br>
            <button type="submit" class="post_button" (click)="addComment()">Post Comment</button>
        </form>
    </div>
</div>
