@import '../../common/_fonts.scss';
@import '../../common/_variables.scss';
@import '../../common/_mixins.scss';


*, ::after, ::before {
    box-sizing: border-box;
}

//header 

.admin_header {
    width: 100%;
    height: 77px;
    border: 1px solid #e4e4e4;
    border-radius: 3px;
    padding: 20px 30px;
    @include flexbox(row, nowrap, flex-start, flex-start);
    margin-bottom: 30px;
}
.main_icon {
    width: 36px;
    height: 36px;
    background-color: #fcb493;;
    border-radius: 50%;
    @include flexbox(row, nowrap, center, center);
    margin-right: 20px;
}
.icon_big {
    width: 16px;
    height: 16px;
    fill: $mainColor;
    margin-top: -10px;
    color: $mainColor;
}

.head_name {
    font-family: 'Sofia Pro Medium';
    font-size: 14px;
    font-weight: 600;
    color: $mainColor;
    height: 100%;
    @include flexbox(row, nowrap, flex-start, center);
}

.add_article_btn {
    width: 168px;
    height: 50px;
    border-radius: 3px;
    background-color: $mainColor;
    border: none;
    color: #fff;
    margin-bottom: 14px;
}

.thead_styles {
    background-color: #ff5200;
    color: #fff;
    font-family: 'Sofia Pro Medium';
    font-size: 14px;
}
td {
    font-family: 'Sofia Pro';
    font-size: 14px; 
    color: $textColor;
}
.edit_button, .delete_button {
    height: 100%;
    height: 30px;
    border-radius: 3px;
    border: 1px solid $mainColor;
    padding: 5px;
    transition: all ease-out 0.3s;
}
.edit_button {
    background-color: $mainColor;
    color: #fff;
}
.delete_button {
    background-color: #fff;
    color: $mainColor;
}
.confirm_button {
    background-color: #fff;
    color: $mainColor;
    border: 1px solid $mainColor;
    width: 60px;
    height: 40px;
    transition: all ease-out 0.3s;
    border-radius: 3px;
    outline: none;
}
.reject_button {
    background-color: $mainColor;
    color: #fff; 
    width: 60px;
    height: 40px;
    transition: all ease-out 0.3s;
    border-radius: 3px;
    border: 1px solid $mainColor;
    outline: none;
}

.edit_button:hover, .delete_button:hover, .confirm_button:hover  {
    background-color: $mainColor;
    color: #fff;
}
.input_name {
    font-family: 'Sofia Pro Medium';
    font-size: 14px;
    color: #3b3b3b;
    margin-bottom: 10px;
}
.input_field {
    width: 100%;
    height: 46px;
    border: solid 1px #e4e4e4;
    padding: 13px;
    font-family: 'Sofia Pro';
    font-size: 14px;
    line-height: 1.43;
    color: #3b3b3b;
    margin-bottom: 30px;
    outline-color: rgba(255, 82, 0, 0.5);
    
}
.textarea_input {
    height: 170px;
    resize: none;
}
.next_button {
    width: 100px;
    height: 46px;
    border-radius: 3px;
    background-color: $mainColor;
    border: none;
    color: #fff;
}
.close_button {
    background-color: #fff;
    color: $mainColor;
    border: 1px solid $mainColor;
    transition: all ease-out 0.3s;
}
.close_button:hover {
    background-color: $mainColor;
    color: #fff;
}
.custom_file {
    position: relative;
    display: inline-block;
    width: 100%;
    margin-bottom: 46px;
   
}
input .choose_image {
    position: relative;
    z-index: 2;
    width: 100%;
    height: 46px;
    margin: 0;
    opacity: 0;
    margin-bottom: 30px;
   
}
.choose_image:focus {
    outline: none;
    
}
.file_label {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
    height: 46px;
    font-weight: 400;
    background-color: #fff;
    border: 1px solid #ced4da;
    overflow: visible;
    display: inline-block;
    margin-bottom: .5rem;
    font-family: 'Sofia Pro';
    font-size: 14px;
    line-height: 1.43;
    color: #3b3b3b;
    padding: 13px;
    
}
.file_label::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 3;
    display: block;
    height: 44px;
    content: "Browse";
    background-color: $mainColor;
    font-family: 'Sofia Pro';
    font-size: 14px;
    line-height: 1.43;
    color: #fff;
    padding: 13px;
}
.locationImage{
    margin: 15px;
    width: 150px;
    height: 150px;
    @include background;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;
    img{
        width: 100%;
        height: 100%;
        margin-right: 20px;
    }
    span {
    position: absolute;
    color: $mainColor;
    transition: all ease-in-out 0.4s;
    }
    span:hover{
        cursor: pointer;
    }
    span svg {
        margin: 3px;
    }
    span:hover svg{
        color: $mainColor;
        background-color: #fff;
        transition: all ease-in-out 0.4s;
    }
}
.images_row {
    @include flexbox(row, wrap, flex-start, flex-start);
}

.progress_bar {
    height: 10px;
    width: 100%;
    margin-bottom: 20px;
}
.bg_main {
    background-color: $mainColor;
}
button[disabled] {
    background-color: #f17941;
}

//Order pipe
thead th {
    cursor: pointer;
    margin-right: 15px;
    margin-left: 15px;
  
    span {
      visibility: hidden;
    }
  
    &.active {
      color: #fff;
  
      span {
        visibility: visible;
      }
    }
  }

  @media only screen and (max-width: 480px) {
       //Header-----------------------------------------------------

    .hidden {
        display: none;
    }
    .head_name {
        font-size: 13px;
    }

    .add_article_btn {
        margin-bottom: 13px;
        font-size: 13px;
    }
    .thead_styles {
        font-size: 12px;
    }
    td {
        font-size: 12px; 
    }

    .input_name {
        font-size: 13px;
    }


    //Order pipe---------------------------
    thead th {
        margin-right: 5px;
        margin-left: 5px;
    
        span {
        visibility: hidden;
        }
    
        &.active {
        color: #fff;
    
        span {
            visibility: visible;
        }
        }
    }
    table {
       width: 320px;
       word-wrap: normal;
    }
    .next_button {
        font-size: 13px;
    }
  }