@import '../../common/_fonts.scss';
@import '../../common/_variables.scss';
@import '../../common/_mixins.scss';


.user_main_block {
    border-radius: 3px;
    border: solid 1px #e4e4e4;
    background-color: #ffffff;
}
.user_header {
    width: 100%;
    height: 77px;
    border-bottom: solid 1px #e4e4e4;
    padding: 20px 30px;
    @include flexbox(row, nowrap, flex-start, flex-start);
}
.main_icon {
    width: 36px;
    height: 36px;
    background-color: #fcb493;;
    border-radius: 50%;
    @include flexbox(row, nowrap, center, center);
    margin-right: 20px;
}
.icon_big {
    width: 16px;
    height: 16px;
    fill: $mainColor;
    margin-top: -10px;
    color: $mainColor;
}

.head_name {
    font-family: 'Sofia Pro Medium';
    font-size: 14px;
    font-weight: 600;
    color: $mainColor;
    height: 100%;
    @include flexbox(row, nowrap, flex-start, center);
}
.user_block{
    padding: 20px 30px;
}
.add_line {
    border-bottom: solid 1px #e4e4e4;
}
.res_block {
    @include flexbox(row, nowrap, space-between, flex-start);
}
.reserv_block {
    min-height: 100px;
    width: 49%;
}

.reserv_block_right {
    width: 356px;
}
//Location item------------------------------
.locations_items {
    @include flexbox(row, wrap, space-between, flex-start);
    margin: 0 auto;
}

.location_item {
    width: 356px;
    height: 477px;
    border-radius: 3px;
    margin-bottom: 30px;
    cursor: pointer;
    transition: all ease-in 0.3s;
}
.location_item:hover {
    box-shadow: 0 0 23px -4px rgba(0, 0, 0, 0.1);
}
.item_content {
    padding: 20px 30px;
}
.item_image {
    @include background;
    width: 100%;
    height: 340px;
    
}
.image_shadow {
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0, 0.1);
    @include flexbox(row, nowrap, flex-start, flex-end);
    padding: 20px 30px;
}
.image_text {
    font-family: 'Didot';
    font-size: 24px;
    font-weight: bold;
    line-height: 1.33;
    color: #ffffff;
}
.item_price {
    font-family: 'Sofia Pro';
    font-size: 18px;
    margin-bottom: 20px;
}
.item_price_bold {
    font-family: 'Sofia Pro Bold';
}
.item_location {
    font-family: 'Sofia Pro';
    font-size: 13px;
    color: #9b9b9b;
    margin-bottom: 20px;
    position: relative;
    margin-left: 20px;
}
.location_icon {
    fill: #9b9b9b;
    position: absolute;
    left: -20px;
    top: -3px;
    width: 15px;
    height: 15px;
}
.item_rate {
    font-family: 'Sofia Pro Bold';
    font-size: 13px;
    font-weight: 600;
    color: #30797c;
    position: relative;
    margin-left: 20px;
}
.star_icon {
    fill: #30797c;
    position: absolute;
    left: -20px;
    top: -1px;
    width: 15px;
    height: 15px;

}
.star_count {
    font-family: 'Sofia Pro';
    font-size: 13px;
    color: #9b9b9b; 
}
.info_text {
    font-family: 'Sofia Pro';
    font-size: 14px;
    margin-bottom: 10px;
    span {
        font-family: 'Sofia Pro Medium';
    }



}

@media only screen and (max-width: 1200px) {
    .reserv_block {
        width: 100%;
    }
    .res_block {
        display: block;
    }

}

@media only screen and (max-width: 480px) {
    
    .head_name {
        font-size: 13px;

    }

    .res_block {
        display: block;
    }
    .reserv_block {
        width: 100%;
    }
    .reserv_block_right {
        width: inherit;
    }

    .location_item {
        width: 258px;
        height: auto;
    }
 
    .item_content {
        padding: 10px 15px;
    }

    .item_image {
        width: 100%;
        height: 258px;
    }

    .image_shadow {
        padding: 10px 15px;
    }

    .image_text {
        font-size: 20px;
    }

    .item_price {
        font-size: 14px;
        margin-bottom: 10px;
    }

    .item_location {
        font-family: 'Sofia Pro';
        font-size: 13px;
        color: #9b9b9b;
        margin-bottom: 20px;
        position: relative;
        margin-left: 20px;
    }
  
    .info_text {
        font-size: 13px;
    }
        
}