@import '../../common/_fonts.scss';
@import '../../common/_variables.scss';
@import '../../common/_mixins.scss';


*, ::after, ::before {
    box-sizing: border-box;
}

//header 

.admin_header {
    width: 100%;
    height: 77px;
    // border-bottom: solid 1px #e4e4e4;
    border: 1px solid #e4e4e4;
    border-radius: 3px;
    padding: 20px 30px;
    @include flexbox(row, nowrap, flex-start, flex-start);
    margin-bottom: 30px;
}
.main_icon {
    width: 36px;
    height: 36px;
    // opacity: 0.4;
    background-color: #fcb493;;
    border-radius: 50%;
    @include flexbox(row, nowrap, center, center);
    margin-right: 20px;
}
.icon_big {
    width: 16px;
    height: 16px;
    fill: $mainColor;
    margin-top: -10px;
    color: $mainColor;
}

.head_name {
    font-family: 'Sofia Pro Medium';
    font-size: 14px;
    font-weight: 600;
    color: $mainColor;
    height: 100%;
    @include flexbox(row, nowrap, flex-start, center);
    // border: 1px solid #000;
}

.thead_styles {
    background-color: #ff5200;
    color: #fff;
    font-family: 'Sofia Pro Medium';
    font-size: 14px;
    // font-weight: 600;
}
td {
    font-family: 'Sofia Pro';
    font-size: 14px; 
    color: $textColor;
}
.edit_button, .delete_button {
    height: 100%;
    height: 30px;
    border-radius: 3px;
    border: 1px solid $mainColor;
    padding: 5px;
    transition: all ease-out 0.3s;
}
.edit_button {
    background-color: $mainColor;
    color: #fff;
}
.delete_button {
    background-color: #fff;
    color: $mainColor;
}
.edit_button:hover, .delete_button:hover  {
    background-color: $mainColor;
    color: #fff;
}
.input_name {
    font-family: 'Sofia Pro Medium';
    font-size: 14px;
    color: #3b3b3b;
    margin-bottom: 10px;
}
.input_field {
    width: 100%;
    height: 46px;
    border: solid 1px #e4e4e4;
    padding: 13px;
    font-family: 'Sofia Pro';
    font-size: 14px;
    line-height: 1.43;
    color: #3b3b3b;
    margin-bottom: 30px;
    outline-color: rgba(255, 82, 0, 0.5);
    
}
.textarea_input {
    height: 170px;
    resize: none;
}
.next_button {
    width: 100px;
    height: 46px;
    border-radius: 3px;
    background-color: $mainColor;
    border: none;
    color: #fff;
}
.close_button {
    background-color: #fff;
    color: $mainColor;
    border: 1px solid $mainColor;
    transition: all ease-out 0.3s;
}
.close_button:hover {
    background-color: $mainColor;
    color: #fff;
}
.custom_file {
    position: relative;
    display: inline-block;
    width: 100%;
    // height: calc(1.5em + .75rem + 2px);
    margin-bottom: 46px;
   
}
input .choose_image {
    position: relative;
    z-index: 2;
    width: 100%;
    height: 46px;
    margin: 0;
    opacity: 0;
    // overflow: visible;
    margin-bottom: 30px;
   
}
.choose_image:focus {
    outline: none;
    
}
.file_label {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
    height: 46px;
    font-weight: 400;
    background-color: #fff;
    border: 1px solid #ced4da;
    overflow: visible;
    display: inline-block;
    margin-bottom: .5rem;
    font-family: 'Sofia Pro';
    font-size: 14px;
    line-height: 1.43;
    color: #3b3b3b;
    padding: 13px;
    
}
.file_label::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 3;
    display: block;
    height: 44px;
    content: "Browse";
    background-color: $mainColor;
    font-family: 'Sofia Pro';
    font-size: 14px;
    line-height: 1.43;
    color: #fff;
    padding: 13px;
}
.locationImage{
    // border: 1px solid #000;
    margin: 15px;
    width: 150px;
    height: 150px;
    @include background;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;
    // background-color: olive;
    img{
        width: 100%;
        height: 100%;
        margin-right: 20px;
    }
    span {
    position: absolute;
    color: $mainColor;
    transition: all ease-in-out 0.4s;
    }
    span:hover{
        cursor: pointer;
    }
    span svg {
        margin: 3px;
    }
    span:hover svg{
        color: $mainColor;
        background-color: #fff;
        transition: all ease-in-out 0.4s;
    }
}
.images_row {
    @include flexbox(row, wrap, flex-start, flex-start);
}

.progress_bar {
    height: 10px;
    width: 100%;
    margin-bottom: 20px;
    // border: 1px solid #000;
}
.bg_main {
    background-color: $mainColor;
}
button[disabled] {
    background-color: #f17941;
}

//Modal Reservation Details
.modal-body {
    @include flexbox(row, nowrap, space-between, flex-start);
}
.reserv_block {
    min-height: 100px;
    width: 49%;
    // border: 1px solid #000;
}
.reserv_block_right {
    width: 356px;
}
//location item
.locations_items {
    @include flexbox(row, wrap, space-between, flex-start);
    margin: 0 auto;
    // background-image: url(../../../assets/icons/location.svg);
}
.location_item {
    width: 356px;
    height: 477px;
    border-radius: 3px;
    // border: 1px solid #000;
    margin-bottom: 30px;
    cursor: pointer;
    transition: all ease-in 0.3s;
}
.location_item:hover {
    box-shadow: 0 0 23px -4px rgba(0, 0, 0, 0.1);
}
.item_content {
    padding: 20px 30px;
}
.item_image {
    @include background;
    // background-image: url(https://firebasestorage.googleapis.com/v0/b/travel-myproject.appspot.com/o/images%2F2fa522de79f247265ee6abc7cdd3291b33284c81.png?alt=media&token=a6fa89a1-5800-47d9-b55d-473948a2d27b);
    width: 100%;
    height: 340px;
    
}
.image_shadow {
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0, 0.1);
    @include flexbox(row, nowrap, flex-start, flex-end);
    padding: 20px 30px;
}
.image_text {
    font-family: 'Didot';
    font-size: 24px;
    font-weight: bold;
    line-height: 1.33;
    color: #ffffff;
}
.item_price {
    font-family: 'Sofia Pro';
    font-size: 18px;
    margin-bottom: 20px;
}
.item_price_bold {
    font-family: 'Sofia Pro Bold';
}
.item_location {
    font-family: 'Sofia Pro';
    font-size: 13px;
    color: #9b9b9b;
    margin-bottom: 20px;
    position: relative;
    margin-left: 20px;
}
.location_icon {
    fill: #9b9b9b;
    // background-color: khaki;
    position: absolute;
    left: -20px;
    top: -3px;
    width: 15px;
    height: 15px;
}
.item_rate {
    font-family: 'Sofia Pro Bold';
    font-size: 13px;
    font-weight: 600;
    color: #30797c;
    position: relative;
    margin-left: 20px;
}
.star_icon {
    fill: #30797c;
    // background-color: khaki;
    position: absolute;
    left: -20px;
    top: -1px;
    width: 15px;
    height: 15px;

}
.star_count {
    font-family: 'Sofia Pro';
    font-size: 13px;
    color: #9b9b9b; 
}
.info_text {
    font-family: 'Sofia Pro';
    font-size: 14px;
    margin-bottom: 10px;
    span {
        font-family: 'Sofia Pro Medium';
    }
}
//Order pipe
thead th {
    cursor: pointer;
    margin-right: 15px;
    margin-left: 15px;
  
    span {
      visibility: hidden;
    }
  
    &.active {
      color: #fff;
  
      span {
        visibility: visible;
      }
    }
  }