<section>
    <div class="banner__main">
        <div class="main_shadow">
            <div class="banner__main_heading">
                <p class="heading_big">We Are Travelsy</p>
            </div>
            <div class="banner__main_pannel">
                <div class="blanc"></div>
                <div class="container_main check">
                    <div class="check_item">
                        <div>
                            <p class="check-out">Have a question?</p>
                            <p class="text-link">turcotte_reta@prosacco.io</p>
                        </div>
                        <div class="line"></div>
                    </div>
                    <div class="check_item">
                        <div>
                            <p class="check-out space-link">Partner With Us</p>
                            <p class="text-link space-link" >archibald_champlin@yahoo.com</p>
                        </div>
                        <!-- <div class="line"></div> -->
                    </div>
                    <div class="check_item">
                        <div>
                        </div>
                    </div>
                    <div class="find">
                        <div>

                        </div>
                    </div>
                </div>
                <div class="scroll">
                    <div class="scroll_text">Scroll</div>
                    <div class="scroll_line"></div>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container_main">
        <div class="article">
            <p class="section_name">OUR STORY</p>
            <div class="article_text">
                <div class="heading_text">A short Story on How Travelsy Came To be</div>
                <div class="main_text main_text_width">If you live in New York City or travel to and from New York City
                    a lot, you know all about the traffic there. Getting places is often next to impossible, even with
                    the gazillion yellow cabs. If you’re like me you often look with envy at those shiny limousines with
                    their unformed drivers and wish you could sit in one. Well, you can. New York limo service is more
                    affordable than you think, whether it’s for Newark airport transportation, LaGuardia airport
                    transportation, or to drive wherever you wish to go. </div>
            </div>
            <div id="slider">
                <ng-image-slider class="article_picture" [images]="imageObject" #nav
                    [imageSize]="{width: '733px', height: '475px', space: 10 }" [imagePopup]="false"
                    [showArrow]="false"></ng-image-slider>
                <div class="slider_buttons">
                    <div class="button" (click)="prevImageClick()">
                        <div>
                            <svg-icon src="../../assets/icons/back.svg" [svgStyle]="{ 'height.px':20, 'width.px':17 }">
                            </svg-icon>
                        </div>
                    </div>
                    <div class="button_line"> </div>
                    <div class="button" (click)="nextImageClick()">
                        <div>
                            <svg-icon src="../../assets/icons/next.svg" [svgStyle]="{ 'height.px':20, 'width.px':17 }">
                            </svg-icon>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container_small">
        <p class="section_name">OUR BELIEFS</p>
        <div class="beliefs">
            <div class="beliefs_heading">Great User Experience</div>
            <div class="beliefs_text">If you live in New York City or travel to and from New York City a lot, you know
                all about the traffic there. Getting places is often next to impossible, even with the gazillion yellow
                cabs. If you’re like me you often look with envy at those shiny limousines with their unformed drivers
                and wish you could sit in one. Well, you can. New York limo service is more affordable than you think,
                whether it’s for Newark airport transportation, LaGuardia airport transportation, or to drive wherever
                you wish to go.</div>
        </div>
        <div class="beliefs">
            <div class="beliefs_heading">Customer Satisfaction</div>
            <div class="beliefs_text">Initially the concept of timeshare appeared somewhere in the 1960’s in France. The
                principle of a timeshare actually marketed the concept of ‘buying the hotel’ for vacationing. Indeed,
                timeshare is a form of real estate ownership, more precisely vacation property ownership. The owners
                divide the costs of running the resort and also the use of the place between themselves. This timeshare
                concept was first applied to land-resorts, but nowadays, we have all kinds of vacation properties,
                including houseboats. Houseboat timeshare works on a very simple principle.
                <br><br>
                All 52 weeks of the year are divided between the owners (usually there are 51, considering that one week
                should remain for maintenance)! So they can own the resort on a 1/51 basis and can use the resort one
                week per year. Of course, one can buy as many houseboat timeshares as he/she wants to.</div>
        </div>
        <div class="beliefs">
            <div class="beliefs_heading">Ease Of Access</div>
            <div class="beliefs_text">Namaskar, welcome to Incredible India, where culture echoes, tradition speaks,
                beauty enthralls and diversity delights.
                <br><br>
                Bounded by the majestic Himalayan ranges in the north and edged by an endless stretch of golden beaches,
                India is a vivid kaleidoscope of landscapes, magnificent historical sites and royal cities, misty
                mountain retreats, colorful people, rich cultures and festivities. The timeless mystery and beauty of
                India has been waiting for you for 5000 years, always warm and inviting, a place of infinite variety –
                one that favors you with different facets of its fascination every time you visit India.</div>
        </div>
    </div>
</section>
<section>
    <div class="container_main">
        <p class="section_name">MEET THE TEAM</p>
        <div class=" team_heading">A short Story on How Travelsy Came To be</div>
        <div class="team_items">
            <div class="teammember">
                <div class="member_image member_one"></div>
                <div class="member_name">Hannah Poole</div>
                <div class="member_position">CEO and Head of Marketing</div>
            </div>
            <div class="teammember">
                <div class="member_image member_two"></div>
                <div class="member_name">Jenny Wang</div>
                <div class="member_position">Head of Reservations</div>
            </div>
            <div class="teammember">
                <div class="member_image member_three"></div>
                <div class="member_name">Emily Blunt</div>
                <div class="member_position">Head of HR</div>
            </div>
            <div class="teammember">
                <div class="member_image member_four"></div>
                <div class="member_name">Audrey Jade</div>
                <div class="member_position">Head of Logistics</div>
            </div>
            <div class="teammember">
                <div class="member_image member_five"></div>
                <div class="member_name">Jeremy Blacke</div>
                <div class="member_position">Accounting Manager</div>
            </div>  
            <div class="teammember">
                <div class="member_image member_six"></div>
                <div class="member_name">Anna Torv</div>
                <div class="member_position">Sales Representative</div>
            </div>
        </div>
    </div>
</section>