@import '../../common/_fonts.scss';
@import '../../common/_variables.scss';
@import '../../common/_mixins.scss';

.sign_in {
    margin-top: 170px;
}
.login_container {
    width: 545px;
    min-height: 300px;
    margin: 0 auto;
    margin-bottom: 100px;
}
.main_title {
    text-align: center;
    font-family: 'Didot';
    font-size: 70px;
    font-weight: bold;
    line-height: 1.07;
    color: #000000;
    margin-bottom: 50px;
}
.input_name {
    font-family: 'Sofia Pro Medium';
    font-size: 14px;
    color: #3b3b3b;
    margin-bottom: 10px;
    margin-top: 30px;
}
.input_field {
    width: 100%;
    height: 46px;
    border: solid 1px #e4e4e4;
    padding: 13px;
    font-family: 'Sofia Pro';
    font-size: 14px;
    line-height: 1.43;
    color: $textColor;
    outline-color: rgba(255, 82, 0, 0.5);
    
}
.checkbox {
    position: relative;
    margin-top: 10px;
}
.checkbox_text {
    font-family: 'Sofia Pro Medium';
    font-size: 14px;
    color: #4a4a4a;
    margin-left: 5px;
    position: absolute;
    top: 2px;

}
.submit_button {
    width: 100%;
    height: 50px;
    border-radius: 3px;
    background-color: $mainColor;
    color: #fff;
    border: none;
    font-family: 'Sofia Pro';
    font-size: 14px;
    margin-bottom: 30px;
    margin-top: 30px;
    cursor: pointer;
}
.change {
    text-align: center;
    font-family: 'Sofia Pro Medium';
    font-size: 14px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #4a4a4a;
}
.change_link {
    color: $linkColor;
    cursor: pointer;
}
.user_name {
    @include flexbox(row, nowrap, space-between, flex-start);
}
.name {
    width: 48%;
}

.invalidText {
    font-family: 'Sofia Pro';
    font-size: 12px;
    color: red;
    margin-top: 5px;
}
button[disabled] {
    background-color: #f17941;
}

@media only screen and (max-width: 768px) {
    .login_container {
        width: 450px;
        margin-bottom: 50px;
    }
  
}

@media only screen and (max-width: 480px) {
    .login_container {
        width: 320px;
        margin-bottom: 50px;
    }
    .main_title {
        font-size: 50px;
        margin-bottom: 30px;
    }

    .input_name {
        font-size: 13px;
    }

    .input_field {
        font-size: 13px;
    }

    .checkbox_text {
        font-size: 13px;
    }

    .submit_button {
        font-size: 13px;
    }

    .change {
        font-size: 13px;
    }
  
    
}
