<section>
    <div class="banner__main" [lazyLoad]="lazyImage">
        <div class="main_shadow">
            <div class="banner__main_heading">
                <p class="heading_small">Experience a Different World</p>
                <p class="heading_big">Enjoy every moment, choose your destination</p>
            </div>
            <div class="banner__main_pannel">
                <div class="blanc"></div>
                <div class="check">
                    <div class="check_item">
                        <div>
                            <span class="add_space main_smalltext">Mountain Experience</span>
                        </div>
                    </div>
                    <div class="check_item">
                        <div>
                            <span class="add_space main_smalltext">Lake Experience</span>
                        </div>
                    </div>
                    <div class="check_item">
                        <div>
                            <span class="add_space main_smalltext">Forest Experience</span>
                        </div>
                    </div>
                    <div class="check_item">
                        <div>
                            <span class="add_space main_smalltext">Farm Experience</span>
                        </div>
                    </div>
                </div>
                <div class="scroll">
                    <div class="scroll_text">Scroll</div>
                    <div class="scroll_line"></div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="popular">
    <div class="container_main">
        <div class="popular__content">
            <div class="popular__content_filter">
                <div class="filter_header">
                    <p class="filter_headertext">Filter By</p>
                    <div class="filter_line"></div>
                </div>
                <div class="filter_content">
                    <form>
                        <div class="filter_budget">
                            <p class="filter_heading">Budget Per Night</p>
                            <input type="range" id="range" min="0" max="50" onchange="rangevalue.value=value"
                                (change)="changeRange($event)">
                            <span class="filter_heading">{{filteredPrice}}$</span>
                        </div>
                        <hr class="dashed">
                        <div class="filter_location">
                            <p class="filter_heading">Location</p>
                            <div class="filter_details">
                                <div>
                                    <input type="radio" name="locations" id="allLocations" [checked]="locationChecked"
                                        hidden>
                                    <label for="allLocations" class="detail"
                                        (click)="filterLocations('all')">Anywhere</label>
                                </div>
                                <div>
                                    <input type="radio" name="locations" id="gothland" hidden>
                                    <label for="gothland" class="detail"
                                        (click)="filterLocations('Gothland')">Gothland</label>
                                </div>
                                <div>
                                    <input type="radio" name="locations" id="mombasa" hidden>
                                    <label for="mombasa" class="detail"
                                        (click)="filterLocations('Mombasa')">Mombasa</label>
                                </div>
                                <div>
                                    <input type="radio" name="locations" id="komo" hidden>
                                    <label for="komo" class="detail" (click)="filterLocations('Komo')">Komo</label>
                                </div>
                                <div>
                                    <input type="radio" name="locations" id="veneto" hidden>
                                    <label for="veneto" class="detail"
                                        (click)="filterLocations('Veneto')">Veneto</label>
                                </div>
                                <div>
                                    <input type="radio" name="locations" id="catalonia" hidden>
                                    <label for="catalonia" class="detail"
                                        (click)="filterLocations('Catalonia')">Catalonia</label>
                                </div>
                                <div>
                                    <input type="radio" name="locations" id="trentino-south" hidden>
                                    <label for="trentino-south" class="detail"
                                        (click)="filterLocations('Trentino-South Tyrol')">Trentino-South Tyrol</label>
                                </div>
                            </div>
                        </div>
                        <hr class="dashed">
                        <div class="filter_category">
                            <p class="filter_heading">Category</p>
                            <div class="filter_details">
                                <div>
                                    <input type="radio" name="category" id="allCategories" [checked]="categoryChecked"
                                        hidden>
                                    <label for="allCategories" class="detail"
                                        (click)="filterCategories('all')">All</label>
                                </div>
                                <div>
                                    <input type="radio" name="category" id="farm" hidden>
                                    <label for="farm" class="detail" (click)="filterCategories('Farm visit')">Farm
                                        visit</label>
                                </div>
                                <div>
                                    <input type="radio" name="category" id="forest" hidden>
                                    <label for="forest" class="detail" (click)="filterCategories('Forest visit')">Forest
                                        visit</label>
                                </div>
                                <div>
                                    <input type="radio" name="category" id="lake" hidden>
                                    <label for="lake" class="detail" (click)="filterCategories('Lake visit')">Lake
                                        visit</label>
                                </div>
                                <div>
                                    <input type="radio" name="category" id="landscapes" hidden>
                                    <label for="landscapes" class="detail"
                                        (click)="filterCategories('Great landscapes')">Great landscapes</label>
                                </div>
                                <div>
                                    <input type="radio" name="category" id="mountains" hidden>
                                    <label for="mountains" class="detail"
                                        (click)="filterCategories('Mountain visit')">Mountain visit</label>
                                </div>
                                <div>
                                    <input type="radio" name="category" id="beach" hidden>
                                    <label for="beach" class="detail" (click)="filterCategories('Beach visit')">Beach
                                        visit</label>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="popular__content_locations">
                <div class="locations_header_big" [innerHTML]="allLocations.length > 0? 'Popular Locations' :'Sorry, nothing found :(' ">Popular Locations</div>
                <!-- <div class="locations_header_big">Popular Locations</div> -->
                <!-- <div class="locations_header_big" *ngIf="allLocations.length == 0">Sorry, nothing found :(</div> -->
                <div class="locations_items">
                    <div class="location_item" *ngFor="let location of allLocations | slice:0:4; let i = index ">
                        <div class="item_image" [lazyLoad]="location.mainImage" [defaultImage]="defaultImage"
                            [routerLink]="[ '/location-details/'+location.id ]">
                            <div class="image_shadow">
                                <div class="image_text">{{location.title}}</div>
                            </div>
                        </div>
                        <div class="item_content">
                            <div class="item_price">From <span class="item_price_bold">${{location.price}}/person
                                </span>
                            </div>
                            <div class="item_location">
                                <svg-icon class="location_icon " src="../../assets/icons/location.svg"
                                    [svgStyle]="{ 'height.px':16, 'width.px':13,'margin-right.px':10 }"></svg-icon>
                                {{location.location}}
                            </div>
                            <div class="item_rate">
                                <svg-icon class="star_icon " src="../../assets/icons/star.svg"
                                    [svgStyle]="{ 'height.px':16, 'width.px':13,'margin-right.px':10 }"></svg-icon>
                                {{location.rate}}
                                <span class="star_count"></span>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
<section class="discover">
    <div class="discover_container">
        <div class="container_main">
            <div class="section_name">DISCOVER</div>
            <div class="article">
                <div class="article_text">
                    <div class="heading_text">Amun Temple Enclosure</div>
                    <div class="main_text main_text_width">Amun-Ra was the local god of Karnak (Luxor) and during the
                        New
                        Kingdom, when the
                        princes of Thebes ruled Egypt, he became the preeminent state god, with a temple that reflected
                        his
                        status. At the height of its power, the temple owned 421,000 head of cattles. </div>
                </div>
                <div id="slider">
                    <ng-image-slider class="article_picture" [images]="imageObject" #nav [imageSize]="sliderConfig"
                        [imagePopup]="false" [showArrow]="false"></ng-image-slider>
                    <div class="slider_buttons">
                        <div class="button" (click)="prevImageClick()">
                            <div>
                                <svg-icon src="../../assets/icons/back.svg"
                                    [svgStyle]="{ 'height.px':20, 'width.px':17 }">
                                </svg-icon>
                            </div>
                        </div>
                        <div class="button_line"> </div>
                        <div class="button" (click)="nextImageClick()">
                            <div>
                                <svg-icon src="../../assets/icons/next.svg"
                                    [svgStyle]="{ 'height.px':20, 'width.px':17 }">
                                </svg-icon>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="more_items">
    <div class="container_main">
        <div class="locations_items">
            <div class="location_item" *ngFor="let location of allLocations | slice:4:10; let i = index ">
                <div class="item_image" [lazyLoad]="location.mainImage" [defaultImage]="defaultImage"
                    [routerLink]="[ '/location-details/'+location.id ]">

                    <div class="image_shadow">
                        <div class="image_text">{{location.title}}</div>
                    </div>
                </div>
                <div class="item_content">
                    <div class="item_price">From <span class="item_price_bold">${{location.price}}/person </span>
                    </div>
                    <div class="item_location">
                        <svg-icon class="location_icon " src="../../assets/icons/location.svg"
                            [svgStyle]="{ 'height.px':16, 'width.px':13,'margin-right.px':10 }"></svg-icon>
                        {{location.location}}
                    </div>
                    <div class="item_rate">
                        <svg-icon class="star_icon " src="../../assets/icons/star.svg"
                            [svgStyle]="{ 'height.px':16, 'width.px':13,'margin-right.px':10 }"></svg-icon>
                        {{location.rate}}
                        <span class="star_count"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="one_large_visit" *ngIf="allLocations.length > 0">
    <div class="large_image" [lazyLoad]="allLocations[allLocations.length -1]?.mainImage">
        <div class="visit_block" [routerLink]="[ '/location-details/'+allLocations[allLocations.length -1]?.id ]">
            <p class="farm_visit">{{allLocations[allLocations.length -1]?.category}}</p>
            <div class="visit_heading">{{allLocations[allLocations.length -1]?.title}}</div>
            <div class="item_price oneitem_price">From <span
                    class="item_price_bold">${{allLocations[allLocations.length -1]?.price}}/person </span>
            </div>
            <div class="arrow_visit">
                <svg-icon class="arrow_visit" src="../../assets/icons/long-arrow-pointing-to-the-right.svg"
                    [svgStyle]="{ 'height.px':14, 'width.px':14}"></svg-icon>
            </div>
        </div>
    </div>
</section>
<section class="more_items">
    <div class="container_main">
        <div class="locations_items">

            <div class="location_item" *ngFor="let location of allLocations | slice:10: sliceNumber; let i = index ">
                <div class="item_image" [lazyLoad]="location.mainImage" [defaultImage]="defaultImage"
                    [routerLink]="[ '/location-details/'+location.id ]">
                    <div class="image_shadow">
                        <div class="image_text">{{location.title}}</div>
                    </div>
                </div>
                <div class="item_content">
                    <div class="item_price">From <span class="item_price_bold">${{location.price}}/person </span>
                    </div>
                    <div class="item_location">
                        <svg-icon class="location_icon " src="../../assets/icons/location.svg"
                            [svgStyle]="{ 'height.px':16, 'width.px':13,'margin-right.px':10 }"></svg-icon>
                        {{location.location}}
                    </div>
                    <div class="item_rate">
                        <svg-icon class="star_icon " src="../../assets/icons/star.svg"
                            [svgStyle]="{ 'height.px':16, 'width.px':13,'margin-right.px':10 }"></svg-icon>
                        {{location.rate}}
                        <span class="star_count"></span>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
<section class="more_button">
    <div class="button_block">
        <button type="button" class="load_more" (click)="loadMore()" *ngIf="showLoadButton">Load More</button>
    </div>

</section>
<section class="testimonials">
    <div class="container_main">
        <div class="test_content">
            <div class="test_block">
                <p class="section_name">TESTIMONIALS</p>
                <p class="test_heading">What customers</p>
                <p class="test_heading_special">say about us.</p>
            </div>
            <div class="test_block feedback">
                <div>
                    <div class="feedback_header">Best User Experience</div>
                    <div class="feedback_text">Because the rock was laid down in layers, there is a variation in the
                        hardness of the rock formed. When water runoff trickles across the rock, some areas erode
                        rapidly
                        whereas others hold firm. This variation in erosion speed causes the formation of pinnacles, or
                        “hoodoos” of stable rock.</div>
                </div>
                <div class="feedback_user">
                    <div class="feedback_image feedback_one"></div>
                    <div class="feedback_name feedback_text">Derek Dunn</div>
                </div>
            </div>
            <div class="test_block feedback">
                <div>
                    <div class="feedback_header">Friendly staff</div>
                    <div class="feedback_text">Whether its a driving tour, a cruise or a bus, leaf viewing is a great
                        way to
                        spend a fall vacation. It’s also big tour business and the are many options. </div>
                </div>
                <div class="feedback_user">
                    <div class="feedback_image feedback_two"></div>
                    <div class="feedback_name feedback_text">Oliver Broad</div>
                </div>
            </div>
        </div>
    </div>
</section>