<section>
    <div class="banner__main">
        <div class="banner__main_heading">
            <p class="heading_small">Experience a Different Africa</p>
            <p class="heading_big">Last Minute Festive Packages From Superbreak</p>
            <div class="visit_banner"> <span class="add_space">Visit Site</span>
                <svg-icon class="arrow-link arrow-right" src="../../assets/icons/long-arrow-pointing-to-the-right.svg"
                    [svgStyle]="{ 'height.px':14, 'width.px':14,'margin-right.px':10 }"></svg-icon>
            </div>
        </div>
        <div class="banner__main_pannel">
            <div class="blanc"></div>
            <div class="container_main check">
                <div class="check_item">
                    <div>
                        <span class="add_space main_smalltext">Last Minute Festive Packages From Superbreak</span>
                    </div>
                </div>
                <div class="check_item">
                    <div>
                        <span class="add_space main_smalltext">Get Around Easily With A New York Limousine
                            Service</span>
                    </div>
                </div>
                <div class="check_item">
                    <div>
                        <span class="add_space main_smalltext">See The Unmatched Beauty Of The Great Lakes</span>
                    </div>
                </div>
                <div class="find">
                    <span class="add_space main_smalltext">Family Safari Vacation To The Home Of The Gods</span>
                </div>
            </div>
            <div class="scroll">
                <div class="scroll_text">Scroll</div>
                <div class="scroll_line"></div>
            </div>
        </div>
    </div>
</section>
<section class="popular">
    <div class="container_main">
        <div class="popular__content">
            <div class="popular__content_filter">
                <div class="filter_header">
                    <p class="filter_headertext">Filter By</p>
                    <div class="filter_line"></div>
                </div>
                <div class="filter_content">
                    <div class="filter_budget">
                        <p class="filter_heading">Budget Per Night</p>
                        <input type="range" id="range" min="0" max="1000">
                    </div>
                    <hr class="dashed">
                    <div class="filter_location">
                        <p class="filter_heading">Location</p>
                        <div class="filter_details">
                            <span class="detail">Anywhere</span>
                            <span class="detail">Camp Kadolta</span>
                            <span class="detail">Mombasa</span>
                            <span class="detail">Suswa Conservancy</span>
                            <span class="detail">Lewa Conservancy</span>
                            <span class="detail">Ol Dubai Campsite</span>
                        </div>
                    </div>
                    <hr class="dashed">
                    <div class="filter_category">
                        <p class="filter_heading">Category</p>
                        <div class="filter_details">
                            <span class="detail">All</span>
                            <span class="detail">Historic Site</span>
                            <span class="detail">Monument</span>
                            <span class="detail">Archaeological Site</span>
                            <span class="detail">Marine Reserve</span>
                            <span class="detail">Notable Building</span>
                            <span class="detail">Hot Springs</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="popular__content_locations">
                <div class="locations_header_big">Popular Locations</div>
                <div class="locations_items">


                    <div class="location_item" *ngFor="let location of allLocations | slice:0:4; let i = index " >
                        <div class="item_image" [style.backgroundImage]="'url('+location.mainImage+')'" [routerLink]="[ '/location-details/'+location.id ]">
                            <div class="image_text" >{{location.title}}</div>
                        </div>
                        <div class="item_content">
                            <div class="item_price">From <span class="item_price_bold">${{location.price}}/person </span>   
                            </div>
                            <div class="item_location">
                                <svg-icon class="location_icon " src="../../assets/icons/location.svg"
                                    [svgStyle]="{ 'height.px':16, 'width.px':13,'margin-right.px':10 }"></svg-icon>
                                    {{location.location}}
                            </div>
                            <div class="item_rate">
                                <svg-icon class="star_icon " src="../../assets/icons/star.svg"
                                    [svgStyle]="{ 'height.px':16, 'width.px':13,'margin-right.px':10 }"></svg-icon>
                                    {{location.rate}}
                                <span class="star_count"></span>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="location_item">
                        <div class="item_image">
                            <div class="image_text">Coffee Farm Tour, From Seedling to Cup</div>
                        </div>
                        <div class="item_content">
                            <div class="item_price">From <span class="item_price_bold">$60/person </span> · 9 hours
                            </div>
                            <div class="item_location">
                                <svg-icon class="location_icon " src="../../assets/icons/location.svg"
                                    [svgStyle]="{ 'height.px':16, 'width.px':13,'margin-right.px':10 }"></svg-icon>
                                Mombasa road, Nextgen Mall
                            </div>
                            <div class="item_rate">
                                <svg-icon class="star_icon " src="../../assets/icons/star.svg"
                                    [svgStyle]="{ 'height.px':16, 'width.px':13,'margin-right.px':10 }"></svg-icon>
                                4.8 <span class="star_count">(89)</span>
                            </div>
                        </div>
                    </div>
                    <div class="location_item">
                        <div class="item_image">
                            <div class="image_text">Coffee Farm Tour, From Seedling to Cup</div>
                        </div>
                        <div class="item_content">
                            <div class="item_price">From <span class="item_price_bold">$60/person </span> · 9 hours
                            </div>
                            <div class="item_location">
                                <svg-icon class="location_icon " src="../../assets/icons/location.svg"
                                    [svgStyle]="{ 'height.px':16, 'width.px':13,'margin-right.px':10 }"></svg-icon>
                                Mombasa road, Nextgen Mall
                            </div>
                            <div class="item_rate">
                                <svg-icon class="star_icon " src="../../assets/icons/star.svg"
                                    [svgStyle]="{ 'height.px':16, 'width.px':13,'margin-right.px':10 }"></svg-icon>
                                4.8 <span class="star_count">(89)</span>
                            </div>
                        </div>
                    </div>
                    <div class="location_item">
                        <div class="item_image">
                            <div class="image_text">Coffee Farm Tour, From Seedling to Cup</div>
                        </div>
                        <div class="item_content">
                            <div class="item_price">From <span class="item_price_bold">$60/person </span> · 9 hours
                            </div>
                            <div class="item_location">
                                <svg-icon class="location_icon " src="../../assets/icons/location.svg"
                                    [svgStyle]="{ 'height.px':16, 'width.px':13,'margin-right.px':10 }"></svg-icon>
                                Mombasa road, Nextgen Mall
                            </div>
                            <div class="item_rate">
                                <svg-icon class="star_icon " src="../../assets/icons/star.svg"
                                    [svgStyle]="{ 'height.px':16, 'width.px':13,'margin-right.px':10 }"></svg-icon>
                                4.8 <span class="star_count">(89)</span>
                            </div>
                        </div>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
</section>
<section class="discover">
    <div class="discover_container">
        <div class="container_main">
            <div class="section_name">DISCOVER</div>
            <div class="article">
                <div class="article_text">
                    <div class="heading_text">Amun Temple Enclosure</div>
                    <div class="main_text main_text_width">Amun-Ra was the local god of Karnak (Luxor) and during the
                        New
                        Kingdom, when the
                        princes of Thebes ruled Egypt, he became the preeminent state god, with a temple that reflected
                        his
                        status. At the height of its power, the temple owned 421,000 head of cattle…<span
                            class="link">Visit
                            Site </span> </div>
                </div>
                <div id="slider">
                    <ng-image-slider class="article_picture" [images]="imageObject" #nav
                        [imageSize]="{width: '733px', height: '475px', space: 10}" [imagePopup]="false" [showArrow]="false"
                        ></ng-image-slider>
                    <div class="slider_buttons">
                        <div class="button" (click)="prevImageClick()">
                            <div>
                                <svg-icon src="../../assets/icons/back.svg"
                                    [svgStyle]="{ 'height.px':20, 'width.px':17 }">
                                </svg-icon>
                            </div>
                        </div>
                        <div class="button_line"> </div>
                        <div class="button" (click)="nextImageClick()">
                            <div>
                                <svg-icon src="../../assets/icons/next.svg"
                                    [svgStyle]="{ 'height.px':20, 'width.px':17 }">
                                </svg-icon>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="more_items">
    <div class="container_main">
        <div class="locations_items">
            <!-- <div class="location_item">
                <div class="item_image">
                    <div class="image_text">Coffee Farm Tour, From Seedling to Cup</div>
                </div>
                <div class="item_content">
                    <div class="item_price">From <span class="item_price_bold">$60/person </span> · 9 hours
                    </div>
                    <div class="item_location">
                        <svg-icon class="location_icon " src="../../assets/icons/location.svg"
                            [svgStyle]="{ 'height.px':16, 'width.px':13,'margin-right.px':10 }"></svg-icon>
                        Mombasa road, Nextgen Mall
                    </div>
                    <div class="item_rate">
                        <svg-icon class="star_icon " src="../../assets/icons/star.svg"
                            [svgStyle]="{ 'height.px':16, 'width.px':13,'margin-right.px':10 }"></svg-icon>
                        4.8 <span class="star_count">(89)</span>
                    </div>
                </div>
            </div>
            <div class="location_item">
                <div class="item_image">
                    <div class="image_text">Coffee Farm Tour, From Seedling to Cup</div>
                </div>
                <div class="item_content">
                    <div class="item_price">From <span class="item_price_bold">$60/person </span> · 9 hours
                    </div>
                    <div class="item_location">
                        <svg-icon class="location_icon " src="../../assets/icons/location.svg"
                            [svgStyle]="{ 'height.px':16, 'width.px':13,'margin-right.px':10 }"></svg-icon>
                        Mombasa road, Nextgen Mall
                    </div>
                    <div class="item_rate">
                        <svg-icon class="star_icon " src="../../assets/icons/star.svg"
                            [svgStyle]="{ 'height.px':16, 'width.px':13,'margin-right.px':10 }"></svg-icon>
                        4.8 <span class="star_count">(89)</span>
                    </div>
                </div>
            </div>
            <div class="location_item">
                <div class="item_image">
                    <div class="image_text">Coffee Farm Tour, From Seedling to Cup</div>
                </div>
                <div class="item_content">
                    <div class="item_price">From <span class="item_price_bold">$60/person </span> · 9 hours
                    </div>
                    <div class="item_location">
                        <svg-icon class="location_icon " src="../../assets/icons/location.svg"
                            [svgStyle]="{ 'height.px':16, 'width.px':13,'margin-right.px':10 }"></svg-icon>
                        Mombasa road, Nextgen Mall
                    </div>
                    <div class="item_rate">
                        <svg-icon class="star_icon " src="../../assets/icons/star.svg"
                            [svgStyle]="{ 'height.px':16, 'width.px':13,'margin-right.px':10 }"></svg-icon>
                        4.8 <span class="star_count">(89)</span>
                    </div>
                </div>
            </div>
            <div class="location_item">
                <div class="item_image">
                    <div class="image_text">Coffee Farm Tour, From Seedling to Cup</div>
                </div>
                <div class="item_content">
                    <div class="item_price">From <span class="item_price_bold">$60/person </span> · 9 hours
                    </div>
                    <div class="item_location">
                        <svg-icon class="location_icon " src="../../assets/icons/location.svg"
                            [svgStyle]="{ 'height.px':16, 'width.px':13,'margin-right.px':10 }"></svg-icon>
                        Mombasa road, Nextgen Mall
                    </div>
                    <div class="item_rate">
                        <svg-icon class="star_icon " src="../../assets/icons/star.svg"
                            [svgStyle]="{ 'height.px':16, 'width.px':13,'margin-right.px':10 }"></svg-icon>
                        4.8 <span class="star_count">(89)</span>
                    </div>
                </div>
            </div>
            <div class="location_item">
                <div class="item_image">
                    <div class="image_text">Coffee Farm Tour, From Seedling to Cup</div>
                </div>
                <div class="item_content">
                    <div class="item_price">From <span class="item_price_bold">$60/person </span> · 9 hours
                    </div>
                    <div class="item_location">
                        <svg-icon class="location_icon " src="../../assets/icons/location.svg"
                            [svgStyle]="{ 'height.px':16, 'width.px':13,'margin-right.px':10 }"></svg-icon>
                        Mombasa road, Nextgen Mall
                    </div>
                    <div class="item_rate">
                        <svg-icon class="star_icon " src="../../assets/icons/star.svg"
                            [svgStyle]="{ 'height.px':16, 'width.px':13,'margin-right.px':10 }"></svg-icon>
                        4.8 <span class="star_count">(89)</span>
                    </div>
                </div>
            </div>
            <div class="location_item">
                <div class="item_image">
                    <div class="image_text">Coffee Farm Tour, From Seedling to Cup</div>
                </div>
                <div class="item_content">
                    <div class="item_price">From <span class="item_price_bold">$60/person </span> · 9 hours
                    </div>
                    <div class="item_location">
                        <svg-icon class="location_icon " src="../../assets/icons/location.svg"
                            [svgStyle]="{ 'height.px':16, 'width.px':13,'margin-right.px':10 }"></svg-icon>
                        Mombasa road, Nextgen Mall
                    </div>
                    <div class="item_rate">
                        <svg-icon class="star_icon " src="../../assets/icons/star.svg"
                            [svgStyle]="{ 'height.px':16, 'width.px':13,'margin-right.px':10 }"></svg-icon>
                        4.8 <span class="star_count">(89)</span>
                    </div>
                </div>
            </div> -->
        
            <div class="location_item" *ngFor="let location of allLocations | slice:4:10; let i = index ">
                <div class="item_image" [style.backgroundImage]="'url('+location.mainImage+')'" [routerLink]="[ '/location-details/'+location.id ]">
                    
                    <div class="image_text" >{{location.title}}</div>
                </div>
                <div class="item_content">
                    <div class="item_price">From <span class="item_price_bold">${{location.price}}/person </span>   
                    </div>
                    <div class="item_location">
                        <svg-icon class="location_icon " src="../../assets/icons/location.svg"
                            [svgStyle]="{ 'height.px':16, 'width.px':13,'margin-right.px':10 }"></svg-icon>
                            {{location.location}}
                    </div>
                    <div class="item_rate">
                        <svg-icon class="star_icon " src="../../assets/icons/star.svg"
                            [svgStyle]="{ 'height.px':16, 'width.px':13,'margin-right.px':10 }"></svg-icon>
                            {{location.rate}}
                        <span class="star_count"></span>
                    </div>
                </div>
            </div>
        
        </div>
    </div>
</section>
<section class="one_large_visit">
    <div class="large_image">
        <div class="visit_block">
            <p class="farm_visit">Farm Visit</p>
            <div class="visit_heading">Market tour & Cooking class: Kenyan meal</div>
            <div class="item_price">From <span class="item_price_bold">$60/person </span> · 9 hours
            </div>
            <svg-icon class="arrow_visit" src="../../assets/icons/long-arrow-pointing-to-the-right.svg"
                                [svgStyle]="{ 'height.px':14, 'width.px':14,'margin-left.px':10}"></svg-icon>
        </div>
    </div>
</section>
<section class="more_items">
    <div class="container_main">
        <div class="locations_items">
            <!-- <div class="location_item">
                <div class="item_image">
                    <div class="image_text">Coffee Farm Tour, From Seedling to Cup</div>
                </div>
                <div class="item_content">
                    <div class="item_price">From <span class="item_price_bold">$60/person </span> · 9 hours
                    </div>
                    <div class="item_location">
                        <svg-icon class="location_icon " src="../../assets/icons/location.svg"
                            [svgStyle]="{ 'height.px':16, 'width.px':13,'margin-right.px':10 }"></svg-icon>
                        Mombasa road, Nextgen Mall
                    </div>
                    <div class="item_rate">
                        <svg-icon class="star_icon " src="../../assets/icons/star.svg"
                            [svgStyle]="{ 'height.px':16, 'width.px':13,'margin-right.px':10 }"></svg-icon>
                        4.8 <span class="star_count">(89)</span>
                    </div>
                </div>
            </div>
            <div class="location_item">
                <div class="item_image">
                    <div class="image_text">Coffee Farm Tour, From Seedling to Cup</div>
                </div>
                <div class="item_content">
                    <div class="item_price">From <span class="item_price_bold">$60/person </span> · 9 hours
                    </div>
                    <div class="item_location">
                        <svg-icon class="location_icon " src="../../assets/icons/location.svg"
                            [svgStyle]="{ 'height.px':16, 'width.px':13,'margin-right.px':10 }"></svg-icon>
                        Mombasa road, Nextgen Mall
                    </div>
                    <div class="item_rate">
                        <svg-icon class="star_icon " src="../../assets/icons/star.svg"
                            [svgStyle]="{ 'height.px':16, 'width.px':13,'margin-right.px':10 }"></svg-icon>
                        4.8 <span class="star_count">(89)</span>
                    </div>
                </div>
            </div>
            <div class="location_item">
                <div class="item_image">
                    <div class="image_text">Coffee Farm Tour, From Seedling to Cup</div>
                </div>
                <div class="item_content">
                    <div class="item_price">From <span class="item_price_bold">$60/person </span> · 9 hours
                    </div>
                    <div class="item_location">
                        <svg-icon class="location_icon " src="../../assets/icons/location.svg"
                            [svgStyle]="{ 'height.px':16, 'width.px':13,'margin-right.px':10 }"></svg-icon>
                        Mombasa road, Nextgen Mall
                    </div>
                    <div class="item_rate">
                        <svg-icon class="star_icon " src="../../assets/icons/star.svg"
                            [svgStyle]="{ 'height.px':16, 'width.px':13,'margin-right.px':10 }"></svg-icon>
                        4.8 <span class="star_count">(89)</span>
                    </div>
                </div>
            </div> -->
        
            <div class="location_item" *ngFor="let location of allLocations | slice:10: sliceNumber; let i = index ">
                <div class="item_image" [style.backgroundImage]="'url('+location.mainImage+')'" [routerLink]="[ '/location-details/'+location.id ]">
                    <div class="image_text" >{{location.title}}</div>
                </div>
                <div class="item_content">
                    <div class="item_price">From <span class="item_price_bold">${{location.price}}/person </span>   
                    </div>
                    <div class="item_location">
                        <svg-icon class="location_icon " src="../../assets/icons/location.svg"
                            [svgStyle]="{ 'height.px':16, 'width.px':13,'margin-right.px':10 }"></svg-icon>
                            {{location.location}}
                    </div>
                    <div class="item_rate">
                        <svg-icon class="star_icon " src="../../assets/icons/star.svg"
                            [svgStyle]="{ 'height.px':16, 'width.px':13,'margin-right.px':10 }"></svg-icon>
                            {{location.rate}}
                        <span class="star_count"></span>
                    </div>
                </div>
            </div>
        
        </div>
    </div>
</section>
<section class="more_button">
    <div class="button_block">
        <button type="button" class="load_more" (click)="loadMore()" *ngIf="showLoadButton">Load More</button>
    </div>
    
</section>
<section class="testimonials">
    <div class="container_main">
        <div class="test_content">
            <div class="test_block">
                <p class="section_name">TESTIMONIALS</p>
                <p class="test_heading">What customers</p>
                <p class="test_heading_special">say about us.</p>
            </div>
            <div class="test_block feedback">
                <div>
                    <div class="feedback_header">Best User Experience</div>
                    <div class="feedback_text">Because the rock was laid down in layers, there is a variation in the
                        hardness of the rock formed. When water runoff trickles across the rock, some areas erode
                        rapidly
                        whereas others hold firm. This variation in erosion speed causes the formation of pinnacles, or
                        “hoodoos” of stable rock.</div>
                </div>
                <div class="feedback_user">
                    <div class="feedback_image feedback_one"></div>
                    <div class="feedback_name feedback_text">Derek Dunn</div>
                </div>
            </div>
            <div class="test_block feedback">
                <div>
                    <div class="feedback_header">Friendly staff</div>
                    <div class="feedback_text">Whether its a driving tour, a cruise or a bus, leaf viewing is a great
                        way to
                        spend a fall vacation. It’s also big tour business and the are many options. </div>
                </div>
                <div class="feedback_user">
                    <div class="feedback_image feedback_two"></div>
                    <div class="feedback_name feedback_text">Oliver Broad</div>
                </div>
            </div>
        </div>
    </div>
</section>