@import '../../common/_fonts.scss';
@import '../../common/_variables.scss';
@import '../../common/_mixins.scss';

//Main banner-------------------------------------------
.banner__main {
    height: 815px;
    width: 100%;
    @include background;
}

.main_shadow {
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0, 0.2);
    @include flexbox(column, nowrap, space-between, flex-start);
}
.banner__main_heading {
    width: 1110px;
    margin: 200px auto;
    min-height: 200px;
}
.heading_small {
    font-family: 'Sofia Pro';
    font-size: 14px;
    font-weight: 500;
    color: #fafafa;
    margin-bottom: 30px;
}
.heading_big {
    height: 285px;
    width: 733px;
    font-family: 'Didot';
    font-size: 80px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.19;
    letter-spacing: normal;
    color: #ffffff;
    margin-bottom: 70px;
  
}
.banner__main_pannel {
    height: 120px;
    width: 100%;
    width: 100%;
    @include flexbox(row, nowrap, center, flex-end);
}
.add_space {
    margin-right: 20px;
}
.visit_banner {
    width: 168px;
    border-top: 1px solid #fff;
    font-family: 'Sofia Pro';
    font-size: 14px;
    font-weight: 500;
    line-height: 1.36;
    color: #ffffff;
    padding-top: 20px;
    fill: #fff;
    cursor: pointer;
    position: relative;

}
.arrow-right {
    position: absolute;
    top: 21px;
}
.visit_banner:hover {
    color: $mainColor;
    fill: $mainColor;
}
.container_main {
    width: 1110px;
    margin: 0 auto;
}
.blanc {
    height: inherit;
    width: 100%;
    border-top: 1px solid #fff;
}
.check {
    @include flexbox(row, nowrap, center, center);
    height: 120px;
    width: 1110px;
    border-top: 1px solid #fff;
}
.check_item {
    @include flexbox(row, nowrap, space-between, center);
    width: 283px;
    height: inherit;
    // border-top: red;
}
.check-out {
    font-family: 'Sofia Pro';
    font-size: 14px;
    font-weight: 500;
    color: $subTextColor;
    margin-bottom: 15px;
}
.text-link {
    font-family: 'Sofia Pro Medium';
    font-size: 16px;
    font-weight: bold;
    color: #000000;
    padding-bottom: 5px;
    border-bottom: 1px solid transparent;
}
.text-link:hover {
    color: $mainColor;
    border-bottom: 1px solid $mainColor;
    
}
.main_smalltext {
    font-family: 'Sofia Pro';
    font-size: 13px;
    font-weight: 500;
    line-height: 1.38;
    color: #ffffff;
}

.space-link {
    margin-left: 54px;
}
.find {
    @include flexbox(row, nowrap, center, center);
    width: 261px;
    height: inherit;
    border-top-right-radius: 20px;
    font-family: 'Sofia Pro';
    font-size: 18px;
    font-weight: 600;
    color: #ffffff;
    fill: #fff;
}
.scroll {
    height: inherit;
    width: 90%;
    @include flexbox(column, nowrap, center, center);
    // display: none;
}
.scroll_text {
    width: 30px;
    height: 13px;
    transform: rotate(-90deg);
    font-family: 'Sofia Pro';
    font-size: 14px;
    color: #ffffff;
}

.scroll_line {
    width: 1px;
    height: 40px;
    background-color: #ffffff;
    margin-bottom: 45px;
    margin-top: 25px;
}

//Pupular section------------------------------------
.popular {
    margin-top: 100px;
    margin-bottom: 100px;
}
.popular__content {
    @include flexbox(row, nowrap, space-between, flex-start);
}

.popular__content_filter {
    min-height: 515px;
    width: 355px;
}
.popular__content_locations {
    width: 735px;
    min-height: 355px;
}
.filter_headertext {
    font-family: 'Sofia Pro Bold';
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}
.filter_line {
    width: 74px;
    height: 3px;
    background-color: #30797c;
    margin-bottom: 20px;
}
.filter_content {
    width: inherit;
    min-height: 450px;
    background-color: #f8f8f8;
    padding: 20px 20px 10px 20px;
}
.filter_heading {
    font-family: 'Sofia Pro Bold';
    font-size: 13px;
    font-weight: bold;
    margin-bottom: 15px;
}
.dashed {
    border: 1px dashed #e4e4e4;
    margin-bottom: 20px;
    margin-top: 20px;
}
#range {
    width: 100%;
}
.filter_details {
    @include flexbox(row, wrap, flex-start, flex-start);
    // align-content: space-between;
}
.detail {
    padding: 10px;
    min-width: 35px;
    border: solid 1px #e4e4e4;
    font-family: 'Sofia Pro';
    font-size: 13px;
    margin-bottom: 10px;
    margin-right: 10px;
}
.detail:hover {
    background-color:#4a90e2;
    color: #fff;
}
:checked + label {
    background-color:#4a90e2;
    color: #fff;
}

.locations_header_big {
    width: 356px;
    height: 110px;
    font-family: 'Didot';
    font-size: 50px;
    font-weight: bold;
    line-height: 1.1;
    color: #000;
    // border: 1px solid red;
    margin-bottom: 50px;
}

//Location items------------------------------------------------

.locations_items {
    @include flexbox(row, wrap, space-between, flex-start);
}
.location_item {
    width: 356px;
    height: 477px;
    border-radius: 3px;
    // border: 1px solid #000;
    margin-bottom: 30px;
    cursor: pointer;
    transition: all ease-in 0.3s;
}
.location_item:hover {
    box-shadow: 0 0 23px -4px rgba(0, 0, 0, 0.1);
}
.item_content {
    padding: 20px 30px;
}
.item_image {
    @include background;
    width: 100%;
    height: 340px;
    
}
.image_shadow {
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0, 0.1);
    @include flexbox(row, nowrap, flex-start, flex-end);
    padding: 20px 30px;
}
.image_text {
    font-family: 'Didot';
    font-size: 24px;
    font-weight: bold;
    line-height: 1.33;
    color: #ffffff;
}
.item_price {
    font-family: 'Sofia Pro';
    font-size: 18px;
    margin-bottom: 20px;
}
.item_price_bold {
    font-family: 'Sofia Pro Bold';
}
.item_location {
    font-family: 'Sofia Pro';
    font-size: 13px;
    color: #9b9b9b;
    margin-bottom: 20px;
    position: relative;
    margin-left: 20px;
}
.location_icon {
    fill: #9b9b9b;
    position: absolute;
    left: -20px;
    top: -3px;
}
.item_rate {
    font-family: 'Sofia Pro Bold';
    font-size: 13px;
    font-weight: 600;
    color: #30797c;
    position: relative;
    margin-left: 20px;
}
.star_icon {
    fill: #30797c;
    position: absolute;
    left: -20px;
    top: -1px;

}
.star_count {
    font-family: 'Sofia Pro';
    font-size: 13px;
    color: #9b9b9b; 
}


// Discover section / One article section-----------------------------------------------------

.discover_container{
    width: 100%;
    min-height: 900px;
    background-color: #f8f8f8;  
    padding-top: 100px;
    padding-bottom: 100px;
    margin-bottom: 100px;
}
.section_name {
    font-family: 'Sofia Pro Medium';
    font-size: 14px;
    font-weight: 600;
    color: $subTextColor;
    margin-bottom: 30px;
}

.article {
    width: 1110px;
    min-height: 400px;
    margin-top: 80px;
}

.article_text {
    @include flexbox(row, nowrap, space-between, center);
    margin-bottom: 60px;
    width: 733px;
}
.heading_text, .main_text_width {
    width: 356px;
    height: 125px;
}
.heading_text {
    font-family: 'Didot';
    font-size: 50px;
    font-weight: bold;
    line-height: 1.1;
   
}

.main_text {
    font-family: 'Sofia Pro';
    font-size: 14px;
    line-height: 1.36;
    letter-spacing: normal;
    color: $textColor; 
}
.link {
    color: $linkColor;
    font-weight: bold;
    cursor: pointer;
}
.article_picture {
    width: 733px;
    height: 475px;
    @include background;
}
#slider {
    border-radius: 0% !important;
    position: relative;
}

.slider_buttons {
    position: absolute;
    left: 0;
    bottom: 4px;
    // z-index: 3;
    width: 123px;
    height: 60px;
    background-color: #ffffff;
    @include flexbox(row, nowrap, space-between, center);
}
.button_line {
    width: 1px;
    height: 40px;
    transform: rotate(20deg);
    background-color: #d8d8d8;
}
.button {
    height: inherit;
    width: inherit;
    fill: #4a4a4a;
    @include flexbox(row, nowrap, center, center);
    cursor: pointer;
}
.button:hover {
    fill: $mainColor;
}

//One large image-----------------------------------
.large_image {
    @include background;
    height: 700px;
    width: 100%;
    // background-image: url(https://firebasestorage.googleapis.com/v0/b/travel-myproject.appspot.com/o/images%2Faed30a8a4a1508b80d2a0be8310719af951cc6c4.png?alt=media&token=c5fe987e-b4d0-4fe3-af8e-6dde0cc63829);
    margin-top: 100px;
    margin-bottom: 100px;
    @include flexbox(row, nowrap, flex-end, flex-end);
}

.visit_block {
    width: 522px;
    height: 210px;
    border-top-left-radius: 20px;
    background-color: #ffffff;
    padding: 25px 40px;
    cursor: pointer;
}
.farm_visit {
    font-family: 'Sofia Pro';
    font-size: 13px;
    color: #9b9b9b;
    margin-bottom: 10px;
}
.visit_heading {
    width: 405px;
    height: 80px;
    font-family: 'Didot';
    font-size: 30px;
    font-weight: bold;
    line-height: 1.33;
    color: #000000;
    margin-bottom: 20px;
    cursor: pointer;
}
.arrow_visit {
    fill: $mainColor;
    cursor: pointer;
    margin-top: -10px;
}

//Load more button
.button_block {
    width: 100%;
    // width: 1000px;
    // min-height: 100px;
    @include flexbox(row, nowrap, center, center);
}
.load_more {
    margin: 100px 0;
    width: 150px;
    height: 40px;
    border-radius: 3px;
    background-color: $mainColor;
    border: none;
    font-family: 'Sofia Pro';
    font-size: 16px;
    font-weight: 600;
    color: #ffffff;
    cursor: pointer;
}
//Testimonials section

.testimonials {
    background-color: #f8f8f8;
    padding: 100px 0;
    
}
.test_content {
    @include flexbox(row, nowrap, space-between, center);
}
.test_block {
    width: 357px;
    height: 318px;
}
.test_heading, .test_heading_special {
    font-family: 'Didot';
    font-size: 50px;
    font-weight: bold;
}
.test_heading_special {
    color: $mainColor;
}
.feedback {
    @include flexbox(column, nowrap, space-between, flex-start);
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.14);
    background-color: #ffffff; 
    padding: 30px;
}
.feedback_header {
    font-family: 'Didot';
    font-size: 16px;
    font-weight: bold;
    line-height: 1.25;
    margin-bottom: 15px;
}
.feedback_text {
    font-family: 'Sofia Pro';
    font-size: 14px;
    line-height: 1.36;
    color: #4a4a4a;
}
.feedback_user {
    @include flexbox(row, nowrap, flex-start, center);
}
.feedback_image {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}
.feedback_one {
    background-image: url(https://firebasestorage.googleapis.com/v0/b/travel-myproject.appspot.com/o/images%2F47bdc311f113f39e6a99170a319cc5cf4d6217ee.png?alt=media&token=b2ba3e6f-72b0-4640-aca4-80670a395290);
}
.feedback_two {
    background-image: url(https://firebasestorage.googleapis.com/v0/b/travel-myproject.appspot.com/o/images%2F666e2e39921cc92a85ce3ad7b0580b9abdc6cf9b.png?alt=media&token=f5b7dead-ecae-48d4-9e12-08f64468cd86);
}


@media only screen and (max-width: 1200px)  {
    //Main banner styles---------------------------------

    .banner__main_heading {
        width: 735px;
    }

    .container_main {
        width: 735px;
    }
    .check {
        width: 735px;
    }
    .check_item {
        width: 180px;
    }
    // Discover section / One article section-----------------------------------------------------

    .discover_container{
        width: 100%;
        min-height: 900px;
        background-color: #f8f8f8;  
        padding-top: 100px;
        padding-bottom: 100px;
        margin-bottom: 100px;
    }

    .article {
        width: 735px;
    }
    //Testimonials section-------------------------------

    .testimonials {
        padding: 50px 0;
    }

    .test_content {
        @include flexbox(column, nowrap, center, center);

    }

    .test_block {
        width: 320px;
        height: 320px;
        margin-bottom: 10px;
    }

    .feedback_header {
        font-size: 15px;
    }

    .feedback_text {
        font-size: 13px;
    }

    .popular__content_filter {
        // min-height: 515px;
        width: 360px;
    }
    .popular__content_locations {
        width: 360px;
        // min-height: 355px;
    }


}




@media only screen and (max-width: 480px) {
//Main banner-------------------------------
    .banner__main {
        height: 615px;
    }
    .banner__main_heading {
        width: 320px;
        margin: 150px auto;
        min-height: 150px;
    }
    .heading_small {
        margin-bottom: 20px;
    }
    .heading_big {
        font-size: 50px;
        width: 320px;
        margin-bottom: 0;
    
    }
    .banner__main_pannel {
        height: 100px;
    }

    .add_space {
        margin-right: 0px;
    }
 
    .container_main {
        width: 320px;
        margin: 0 auto;
        display: block;
    }
    .blanc {
        display: none;
    }

    .check {
        height: inherit;
        width: inherit;
    }

    .check_item {
        width: 80px;
    }

    .check-out {
        font-size: 13px;
        margin-bottom: 0px;
    }

    .find {
        @include flexbox(row, nowrap, space-between, center);
        width: 80px;
    }

    .scroll {
        display: none;
    }

    //Pupular section------------------------------------------------
    .popular {
        margin-top: 50px;
        margin-bottom: 50px;
    }
    .popular__content {
        display: block;
    }

    .popular__content_filter {
        width: 320px;
    }

    .popular__content_locations {
        width: 320px;
    }

    .filter_headertext {
        font-size: 20px;
    }

    .filter_line {
        width: 74px;
        height: 3px;
        background-color: #30797c;
        margin-bottom: 20px;
    }

    .locations_header_big {
        width: 320px;
        height: auto;
        margin-bottom: 50px;
        margin-top: 50px;
    }

    //Location items---------------------------------------------------------

    .location_item {
        width: 320px;
    }

    //One article section----------------------------------------------------
    .discover_container{
        min-height: 300px;
        padding-top: 50px;
        padding-bottom: 50px;
        margin-bottom: 50px;
    }

    .section_name {
        font-size: 13px;
    }

    .article {
        width: 320px;
        min-height: 400px;
        margin-top: 50px;
        margin-bottom: 50px;
    }

    .article_text {
        display: block;

        margin-bottom: 20px;
        width: 320px;
    }

    .heading_text, .main_text_width {
        width: 320px;
        height: auto;
    }

    .heading_text {
        font-size: 40px;
        width: 320px;
        margin-bottom: 20px;
    }

    .main_text {
        font-size: 13px;
        width: 320px;
    }

    .slider_buttons {
        width: 80px;
        height: 40px;
    }

    .button_line {
        height: 35px;
    }

    .button:hover {
        fill: $mainColor;
    }

    //One large image-------------------------------------------
    .large_image {
        height: 380px;
        margin-top: 50px;
        margin-bottom: 50px;
    }

    .visit_block {
        width: 250px;
        height: 100px;
        padding: 10px 15px;
    }
    .farm_visit {
        margin-bottom: 5px;
    }

    .visit_heading {
        width: auto;
        height: auto;
        font-family: 'Didot';
        font-size: 16px;
        margin-bottom: 5px;
    }

    .arrow_visit {
        fill: $mainColor;
        cursor: pointer;
        margin-top: -10px;
    }

//Load more button--------------------------
    .button_block {
        width: 100%;
        @include flexbox(row, nowrap, center, center);
    }
    .load_more {
        margin: 50px 0;
    }

    .oneitem_price {

        font-size: 13px;
        margin-bottom: 5px;
    }

 //Testimonials section-------------------------------

    .testimonials {
        padding: 50px 0;
    }

    .test_content {
        @include flexbox(column, nowrap, center, center);

    }

    .test_block {
        width: 320px;
        height: 320px;
        margin-bottom: 10px;
    }

    .feedback_header {
        font-size: 15px;
    }

    .feedback_text {
        font-size: 13px;
    }

    



}


