<div class="container_admin">
    <div class="admin_nav">
        <div class="custom_tab"><a [routerLink]="['admin-location']" routerLinkActive="active_link">
                <svg-icon class="icon_big" src="../../../assets/icons/location.svg"
                    [svgStyle]="{ 'height.px':16, 'width.px':16}"></svg-icon> <span class="route_text">Locations</span> 
            </a></div>
        <div class="custom_tab"><a [routerLink]="['admin-blog']" routerLinkActive="active_link">
                <svg-icon class="icon_big" src="../../../assets/icons/blog.svg"
                    [svgStyle]="{ 'height.px':16, 'width.px':16}"></svg-icon><span class="route_text">Blogs</span>
            </a></div>
        <div class="custom_tab"><a [routerLink]="['admin-reservation']" routerLinkActive="active_link">
                <svg-icon class="icon_big" src="../../../assets/icons/reservation.svg"
                    [svgStyle]="{ 'height.px':16, 'width.px':16}"></svg-icon><span class="route_text">Reservations</span>
            </a>
        </div>
        <div class="custom_tab"><a (click)="openModal(logoutModal)">
                <svg-icon class="icon_big" src="../../../assets/icons/logout.svg"
                    [svgStyle]="{ 'height.px':16, 'width.px':16}"></svg-icon><span class="route_text">Log Out</span>
            </a></div>
    </div>
    <div class="admin_body">
        <router-outlet></router-outlet>
    </div>
</div>

<ng-template #logoutModal>
    <div class="modal-body text-center">
      <p>Are you sure you want to Log Out?</p>
      <form class="form-inline d-flex justify-content-center">
        <div class="form-group m-2" style="width: 60px;">
          <button type="button" class=" confirm_button" style="width: 100%;"
            (click)="confirmLogout()">Yes</button>
        </div>
        <div class="form-group m-2" style="width: 60px;">
          <button type="button" class=" reject_button" style="width: 100%;" (click)="declineLogout()">No</button>
        </div>
      </form>
    </div>
  </ng-template>