<div class="container_admin">
    <div class="user_nav">
        <div class="custom_tab">
            <a [routerLink]="['user-profile']" routerLinkActive="active_link"> <svg-icon class="icon_big" src="../../../assets/icons/user.svg"
                [svgStyle]="{ 'height.px':16, 'width.px':16}"></svg-icon>
                <span class="route_text">Profile</span>
                </a></div>
        <div class="custom_tab">
            <a [routerLink]="['user-reservations']" routerLinkActive="active_link"><svg-icon class="icon_big" src="../../../assets/icons/reservation.svg"
                [svgStyle]="{ 'height.px':16, 'width.px':16 }"></svg-icon><span class="route_text">My reservations</span></a></div>
        <div class="custom_tab">
            <a (click)="logout()"><svg-icon class="icon_big" src="../../../assets/icons/logout.svg"
                [svgStyle]="{ 'height.px':16, 'width.px':16 }"></svg-icon><span class="route_text">Log Out</span></a></div>
    </div>
    <div class="user_body">
        <router-outlet></router-outlet>
    </div>
</div>
