/* You can add global styles to this file, and also import other style files */

@import "../node_modules/bootstrap/scss/bootstrap.scss";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body, #root {
    height: 100vh;
}

#root {
    display: flex;
    flex-direction: column;
}
p {
    margin: 0;
}

.article_container {
    img {
        width: 100%;
    }
    p {
        margin-bottom: 20px;
    }
}
img {
    border-radius: 0% !important;
    
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}



