<section class="banner">
    <div class="banner_maintitle">
        <div class="main_title">Stories to inspire your journey</div>
        <div class="main_line"></div>
    </div>
    <div class="banner__main">
        <div class="banner__main_heading">
            <p class="heading_small">30 Jul 2019</p>
            <p class="heading_big">New Ideas For A Low Cost Vacation On Water</p>
            <div class="visit_banner"> <span class="add_space">Read More</span>
                <svg-icon class="arrow-link arrow-right" src="../../assets/icons/long-arrow-pointing-to-the-right.svg"
                    [svgStyle]="{ 'height.px':14, 'width.px':14,'margin-right.px':10 }"></svg-icon>
            </div>
        </div>
    </div>
</section>
<section class="container_blogs">
    <div class="articles_all">
        <div class="article_preview">
            <div class="article_image"></div>
            <div class="article_date">30 Jul 2019</div>
            <div class="article_heading">Bryce Canyon A Stunning Us Travel Destination</div>
            <div class="article_text">The majestic Rocky Mountains are a major tourist location in the western United
                States. Visitors can participate in a quantity of activities, including hiking, skiing, snowboarding,
                mountain biking, & plenty of more. </div>
            <div class="article_link">
                <svg-icon src="../../assets/icons/long-arrow-pointing-to-the-right.svg"
                    [svgStyle]="{ 'height.px':14, 'width.px':14,'margin-right.px':10 }"></svg-icon>
            </div>
        </div>
        <div class="article_preview">
            <div class="article_image"></div>
            <div class="article_date">30 Jul 2019</div>
            <div class="article_heading">Bryce Canyon A Stunning Us Travel Destination</div>
            <div class="article_text">The majestic Rocky Mountains are a major tourist location in the western United
                States. Visitors can participate in a quantity of activities, including hiking, skiing, snowboarding,
                mountain biking, & plenty of more. </div>
            <div class="article_link">
                <svg-icon src="../../assets/icons/long-arrow-pointing-to-the-right.svg"
                    [svgStyle]="{ 'height.px':14, 'width.px':14,'margin-right.px':10 }"></svg-icon>
            </div>
        </div>
        <div class="article_preview">
            <div class="article_image"></div>
            <div class="article_date">30 Jul 2019</div>
            <div class="article_heading">Bryce Canyon A Stunning Us Travel Destination</div>
            <div class="article_text">The majestic Rocky Mountains are a major tourist location in the western United
                States. Visitors can participate in a quantity of activities, including hiking, skiing, snowboarding,
                mountain biking, & plenty of more. </div>
            <div class="article_link">
                <svg-icon src="../../assets/icons/long-arrow-pointing-to-the-right.svg"
                    [svgStyle]="{ 'height.px':14, 'width.px':14,'margin-right.px':10 }"></svg-icon>
            </div>
        </div>
        <div class="article_preview">
            <div class="article_image"></div>
            <div class="article_date">30 Jul 2019</div>
            <div class="article_heading">Bryce Canyon A Stunning Us Travel Destination</div>
            <div class="article_text">The majestic Rocky Mountains are a major tourist location in the western United
                States. Visitors can participate in a quantity of activities, including hiking, skiing, snowboarding,
                mountain biking, & plenty of more. </div>
            <div class="article_link">
                <svg-icon src="../../assets/icons/long-arrow-pointing-to-the-right.svg"
                    [svgStyle]="{ 'height.px':14, 'width.px':14,'margin-right.px':10 }"></svg-icon>
            </div>
        </div>
        <div class="article_pages">1 2 3
            <svg-icon src="../../assets/icons/long-arrow-pointing-to-the-right.svg"
                [svgStyle]="{ 'height.px':14, 'width.px':14 }"></svg-icon>
        </div>
    </div>
    <div class="articles_recent">
        <div class="recent_heading">Recent Posts</div>
        <div class="recent_block">
            <div class="recent_image"></div>
            <div class="recent_details">
                <div class="recent_title"> Cleaning And Organizing Your Computer</div>
                <div class="recent_date">13 Feb 2019</div>
            </div>
        </div>
        <div class="recent_block">
            <div class="recent_image"></div>
            <div class="recent_details">
                <div class="recent_title"> Cleaning And Organizing Your Computer</div>
                <div class="recent_date">13 Feb 2019</div>
            </div>
        </div>
        <div class="recent_block">
            <div class="recent_image"></div>
            <div class="recent_details">
                <div class="recent_title"> Cleaning And Organizing Your Computer</div>
                <div class="recent_date">13 Feb 2019</div>
            </div>
        </div>

        <div class="recent_heading">Tags</div>
        <div class="recent_hashtags">
            <span class="recent_tags">#Hotels</span>
            <span class="recent_tags">#Camping</span>
            <span class="recent_tags">#Mountains</span>
            <span class="recent_tags">#Technology</span>
            <span class="recent_tags">#Places</span>
            <span class="recent_tags">#Tents</span>
            <span class="recent_tags">#Travel</span>
        </div>

    </div>
</section>