<section class="banner">
    <div class="banner_maintitle">
        <div class="main_title">Stories to inspire your journey</div>
        <div class="main_line"></div>
    </div>
    <div class="banner__main" [style.backgroundImage]="'url('+recentArticles[3]?.mainImage+')'">
        <div class="banner__main_heading">
            <p class="heading_small">{{recentArticles[3]?.date.toDate() | date:'dd MMM yyyy'}}</p>
            <p class="heading_big">{{recentArticles[3]?.title}}</p>
            <div class="visit_banner" [routerLink]="[ '/article/'+recentArticles[3]?.id ]"> <span class="add_space">Read More</span>
                <svg-icon class="arrow-link arrow-right" src="../../assets/icons/long-arrow-pointing-to-the-right.svg"
                    [svgStyle]="{ 'height.px':14, 'width.px':14,'margin-right.px':10 }"></svg-icon>
            </div>
        </div>
    </div>
</section>
<section class="container_blogs">
    <div class="articles_all">
        <div class="article_preview" *ngFor="let blog of allArticles | slice:0: sliceNumber; let i=index"
            [routerLink]="[ '/article/'+blog.id ]">
            <div class="article_image" [style.backgroundImage]="'url('+blog?.mainImage+')'"></div>
            <div class="article_date">{{blog?.date.toDate() | date:'dd MMM yyyy'}}</div>
            <div class="article_heading">{{blog?.title}}</div>
            <div class="article_text"></div><span class="article_text"
                innerHTML="{{blog?.article | slice: 0:200}}..."></span>
            <div class="article_link">
                <svg-icon src="../../assets/icons/long-arrow-pointing-to-the-right.svg"
                    [svgStyle]="{ 'height.px':14, 'width.px':14,'margin-right.px':10 }"></svg-icon>
            </div>
        </div>
        <div class="button_block">
            <button type="button" class="load_more" (click)="loadMore()" *ngIf="showLoadButton">Load More</button>
        </div>
    </div>
    <div class="articles_recent">
        <div class="recent_heading">Recent Posts</div>
        <div class="recent_block" [routerLink]="[ '/article/'+recentArticles[recentArticles?.length -1]?.id ]">
            <div class="recent_image"
                [style.backgroundImage]="'url('+recentArticles[recentArticles?.length -1]?.mainImage+')'"></div>
            <div class="recent_details">
                <div class="recent_title"> {{recentArticles[recentArticles?.length -1]?.title}}</div>
                <div class="recent_date">
                    {{recentArticles[recentArticles?.length -1]?.date.toDate() | date:'dd MMM yyyy'}}</div>
            </div>
        </div>
        <div class="recent_block" [routerLink]="[ '/article/'+recentArticles[recentArticles?.length -2]?.id ]">
            <div class="recent_image"
                [style.backgroundImage]="'url('+recentArticles[recentArticles?.length -2]?.mainImage+')'"></div>
            <div class="recent_details">
                <div class="recent_title"> {{recentArticles[recentArticles?.length -2]?.title}}</div>
                <div class="recent_date">
                    {{recentArticles[recentArticles?.length -2]?.date.toDate() | date:'dd MMM yyyy'}}</div>
            </div>
        </div>
        <div class="recent_block" [routerLink]="[ '/article/'+recentArticles[recentArticles?.length -3]?.id ]">
            <div class="recent_image"
                [style.backgroundImage]="'url('+recentArticles[recentArticles?.length -3]?.mainImage+')'"></div>
            <div class="recent_details">
                <div class="recent_title"> {{recentArticles[recentArticles?.length -3]?.title}}</div>
                <div class="recent_date">
                    {{recentArticles[recentArticles?.length -3]?.date.toDate() | date:'dd MMM yyyy'}}</div>
            </div>
        </div>

        <!-- <div class="recent_heading">Tags</div>
        <div class="recent_hashtags">
            <span class="recent_tags">#Hotels</span>
            <span class="recent_tags">#Camping</span>
            <span class="recent_tags">#Mountains</span>
            <span class="recent_tags">#Technology</span>
            <span class="recent_tags">#Places</span>
            <span class="recent_tags">#Tents</span>
            <span class="recent_tags">#Travel</span>
        </div> -->

    </div>
</section>