@import '../../common/_fonts.scss';
@import '../../common/_variables.scss';
@import '../../common/_mixins.scss';



//Main banner---------------------------------------------------
.banner {
    margin-top: 100px;
}
.banner__main {
    height: 600px;
    width: 100%;
    // background-image: url(https://firebasestorage.googleapis.com/v0/b/travel-myproject.appspot.com/o/images%2F0c2c426f1191c5525a59ad418f223a476816a036.png?alt=media&token=095d47b2-3839-471f-9eef-186e0688ea61);
    @include background;
    z-index: 1;
    @include flexbox(column, nowrap, space-between, flex-start);
}
.banner__main_heading {
    width: 1110px;
    margin: 65px auto;
    min-height: 200px;
}
.heading_small {
    font-family: 'Sofia Pro';
    font-size: 14px;
    font-weight: 500;
    color: #fafafa;
    margin-bottom: 30px;
}
.heading_big {
    height: 285px;
    width: 733px;
    font-family: 'Didot';
    font-size: 80px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.19;
    letter-spacing: normal;
    color: #ffffff;
    margin-bottom: 70px;
  
}
.banner__main_pannel {
    height: 120px;
    width: 100%;
    width: 100%;
    @include flexbox(row, nowrap, center, flex-end);
}
.add_space {
    margin-right: 20px;
}
.visit_banner {
    width: 168px;
    border-top: 1px solid #fff;
    font-family: 'Sofia Pro';
    font-size: 14px;
    font-weight: 500;
    line-height: 1.36;
    color: #ffffff;
    padding-top: 20px;
    fill: #fff;
    cursor: pointer;
    position: relative;
    outline: none;

}
.arrow-right {
    position: absolute;
    top: 21px;
}
.visit_banner:hover {
    color: $mainColor;
    fill: $mainColor;
}
.container {
    width: 1110px;
    margin: 0 auto;
}

.banner_maintitle {
    min-height: 320px;
    width: 100%;
    @include flexbox(column, nowrap, center, center);
}
.main_title {
    width: 723px;
    height: 170px;
    font-family: 'Didot';
    font-size: 70px;
    font-weight: bold;
    line-height: 1.21;
    text-align: center;
    color: #000000;
    margin-bottom: 30px;
}
.main_line {
    width: 74px;
    height: 5px;
    background-color: $mainColor;
}
//Blogs-------------------------------------------------------------------

//Articles all------------------------------
.container_blogs {
    @include flexbox(row, nowrap, space-between, flex-start);
    width: 1110px;
    margin: 100px auto;
}

.articles_all {
    width: 733px;
    min-height: 400px;
}
.article_preview {
    margin-bottom: 80px;
    padding-bottom: 20px;
    outline: none;
    cursor: pointer;
}
.article_preview:hover {
    .article_link {
        fill: $mainColor;
        // cursor: pointer;
    }
}
.article_image {
    height: 400px;
    width: inherit;
    // background-image: url(https://firebasestorage.googleapis.com/v0/b/travel-myproject.appspot.com/o/images%2F5a98f159c07f7ecad4a7fca41bc1f37e0901688c.png?alt=media&token=abbfbd1b-a5fd-4d62-8b1a-65a28e7c02c5);
    margin-bottom: 20px;
    @include background;
}
.article_date {
    font-family: 'Sofia Pro';
    font-size: 14px;
    line-height: 1.36;
    letter-spacing: normal;
    color: $textColor;
    margin-bottom: 20px;
}
.article_heading {
    font-family: 'Didot';
    font-size: 24px;
    font-weight: bold;
    line-height: 1.46;
    color: #000000;
    margin-bottom: 15px;
}
.article_text {
    font-family: 'Sofia Pro';
    font-size: 14px;
    line-height: 1.57;
    color: $textColor;
    margin-bottom: 20px;
}
.article_link {
    fill: #000;
}
.article_link:hover {
    fill: $mainColor;
    cursor: pointer;
}
.article_pages {
    font-family: 'Sofia Pro Medium';
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 5px;
    color: $textColor;
}

//Recent articles

.articles_recent {
    width: 355px;
    min-height: 200px;
}
.recent_heading {
    font-family: 'Didot';
    font-size: 18px;
    font-weight: bold;
    color: #041333;
    margin-bottom: 20px;
}
.recent_block{
    @include flexbox(row, nowrap, space-between, flex-start);
    margin-bottom: 20px;
    outline: none;
    cursor: pointer;
}
.recent_image {
    height: 100px;
    width: 100px;
    border-radius: 3px;
    @include background;
    // background-image: url(https://firebasestorage.googleapis.com/v0/b/travel-myproject.appspot.com/o/images%2F0a35997e99287acd87018fbafc6527c90e932032.png?alt=media&token=7ff267d1-228e-404d-8ab2-67c3f2414771);
    // margin-right: 20px;
}
.recent_details {
    padding: 20px 0;
    height: 100px;
    width: 235px;
    // border: 1px solid red;
}
.recent_title {

    font-family: 'Didot';
    font-size: 16px;
    font-weight: bold;
    line-height: 1.31;
    color: $textColor;
    margin-bottom: 10px;
}
.recent_date {
    font-family: 'Sofia Pro';
    font-size: 14px;
    color: #8e8e8e;
}
.recent_hashtags {
    @include flexbox(row, wrap, flex-start, flex-start);
}
.recent_tags {
    margin-right: 10px;
    margin-bottom: 10px;
    font-family: 'Sofia Pro Bold';
    font-size: 14px;
    font-weight: 600;
    color: $linkColor;
}

//Load more button
.button_block {
    width: 100%;
    // width: 1000px;
    // min-height: 100px;
    @include flexbox(row, nowrap, center, center);
    // border: 1px solid #000;
}
.load_more {
    // margin: 100px 0;
    width: 150px;
    height: 40px;
    border-radius: 3px;
    background-color: $mainColor;
    border: none;
    font-family: 'Sofia Pro';
    font-size: 16px;
    font-weight: 600;
    color: #ffffff;
    cursor: pointer;
}



@media only screen and (max-width: 1200px) {

    .banner__main_heading {
        width: 735px;
    }

    .container_main {
        width: 735px;
    }
    .check {
        width: 735px;
    }
    .check_item {
        width: 180px;
    }

    //Blogs-------------------------------------------------------------------

    //Articles all------------------------------
    .container_blogs {
        @include flexbox(column, nowrap, center, center);
        width: 735px;
        margin: 50px auto;
    }

       //Load more button----------------------------
       .button_block {
        margin-bottom: 50px;
    }

       //Recent articles--------------------------------------------

   
}

@media only screen and (max-width: 768px) {
    //Main banner---------------------------------------------------
    // .banner {
    //     margin-top: 80px;
    // }
    // .banner_maintitle {
    //     min-height: 320px;
    // }

    .main_title {
        width: 450px;
        height: auto;
        font-family: 'Didot';
        // font-size: 50px;
        margin-bottom: 30px;
    }
    // .main_line {
    //     width: 74px;
    //     height: 5px;
    //     background-color: $mainColor;
    // }
    .banner__main {
        height: 500px;
    }

    .banner__main_heading {
        width: 450px;
        margin: 65px auto;
        min-height: 200px;
    }

    .heading_small {
        font-family: 'Sofia Pro';
        // font-size: 13px;
        font-weight: 500;
        color: #fafafa;
        margin-bottom: 30px;
    }

    .heading_big {
        height: auto;
        width: 450px;
        font-size: 50px;
    }

    .banner__main_pannel {
        height: 100px;
    }

    .container {
        width: 450px;
        margin: 0 auto;
    }

    //Blogs-------------------------------------------------------------------

    //Articles all------------------------------
    .container_blogs {
        @include flexbox(column, nowrap, center, center);
        width: 450px;
        margin: 50px auto;
    }

    .articles_all {
        width: 450px;
    }

    .article_preview {
        margin-bottom: 50px;
    }

    .article_image {
        height: 300px;
    }


    //Recent articles--------------------------------------------


    .recent_block{
        margin-bottom: 20px;
    }

    .recent_image {
        margin-right: 20px;
    }

    .recent_details {
        padding: 20px 0;
        height: 100px;
        width: 235px;
    }

    //Load more button----------------------------
    .button_block {
        margin-bottom: 50px;
    }
   

    
}


@media only screen and (max-width: 480px) {
    //Main banner---------------------------------------------------
    .banner {
        margin-top: 80px;
    }
    .banner_maintitle {
        min-height: 320px;
    }

    .main_title {
        width: 320px;
        height: auto;
        font-family: 'Didot';
        font-size: 50px;
        margin-bottom: 30px;
    }
    .main_line {
        width: 74px;
        height: 5px;
        background-color: $mainColor;
    }
    .banner__main {
        height: 500px;
    }

    .banner__main_heading {
        width: 320px;
        margin: 65px auto;
        min-height: 200px;
    }

    .heading_small {
        font-family: 'Sofia Pro';
        font-size: 13px;
        font-weight: 500;
        color: #fafafa;
        margin-bottom: 30px;
    }

    .heading_big {
        height: auto;
        width: 320px;
        font-size: 50px;
    }

    .banner__main_pannel {
        height: 100px;
    }

    .container {
        width: 320px;
        margin: 0 auto;
    }

    //Blogs-------------------------------------------------------------------

    //Articles all------------------------------
    .container_blogs {
        @include flexbox(column, nowrap, center, center);
        width: 320px;
        margin: 50px auto;
    }

    .articles_all {
        width: 320px;
    }

    .article_preview {
        margin-bottom: 50px;
    }

    .article_image {
        height: 208px;
    }

    .article_date {
        font-size: 13px;
    }

    .article_heading {
        font-size: 20px;
    }

    .article_text {
        font-size: 13px;
    }

    .article_pages {
        font-size: 13px;
    }

    //Recent articles--------------------------------------------

    .articles_recent {
        width: 320px;
    }

    .recent_heading {
        font-size: 16px;
    }

    .recent_block{
        margin-bottom: 20px;
    }

    .recent_image {
        margin-right: 20px;
    }

    .recent_details {
        padding: 20px 0;
        height: 100px;
        width: 235px;
    }

    //Load more button----------------------------
    .button_block {
        margin-bottom: 50px;
    }
   

    
}